@charset "utf-8";

/* Nombre del proyecto: Rentamuebles */
/* Nombre del archivo: rentamuebles.css */
/* Descripción: Estilos globales */
/* Fecha de creación: Noviembre del 2013 */
/* Autor: Stive Zambrano */

/*───────────────────────────────── Bw*/
.ie8 #preload, .lt-ie8 #preload {display:none;} .con-bw {background:#fff url('../img/browser/bw-bg.png'); bottom:0; display:none; height:100%; left:0; position:fixed; right:0; top:0; width:100%; z-index:9998;} .con-bw .info-bw {height:500px; left:50%; margin-left:-500px; position:absolute; top:50px; width:1000px; z-index:1;} .con-bw .info-bw .head-bw {float:left; height:100px; margin:0 0 40px; padding:4px 140px; text-align:center; width:720px;} .con-bw .info-bw .head-bw .logo-bw {border-right:4px solid #eee; float:left; height:100px; margin-right:20px; padding-right:20px; width:200px;} .con-bw .info-bw .head-bw .tx-bw {float:left; height:88px; padding:6px 0; text-align:center; width:476px;} .con-bw .info-bw .head-bw .tx-bw h1 {color:#737373; font:15px "Georgia", Times New Roman, Times, serif; font-style:italic; margin:0 0 10px;} .con-bw .info-bw .con-icon-bw {float:left; height:200px; margin:50px 20px 0; position:relative; width:160px; z-index:1;} .con-bw .info-bw .con-icon-bw a {cursor:pointer; display:block;} .con-bw .info-bw .con-icon-bw a h1 {bottom:0; color:#424242; font:20px "Georgia", Times New Roman, Times, serif; font-style:italic; height:30px; left:0; line-height:30px; position:absolute; text-align:center; text-decoration:none; width:160px; z-index:3;} .con-bw .info-bw .con-icon-bw a .icon-bw {height:160px; left:0; padding:0 0 10px; position:absolute; top:0; width:160px; z-index:2;} .con-bw .info-bw .con-bt-bw {float:left; height:40px; margin:60px 0 0; width:100%;} .con-bw .info-bw .con-bt-bw a .bt-bw {background:url('../img/browser/bt-bg.png') 0 0 no-repeat; cursor:pointer; height:40px; margin:0 auto; width:158px;} .con-bw .info-bw .con-bt-bw a .bt-bw:hover {background-position:0 -40px;} .con-bw .info-bw .con-bt-bw a .bt-bw:active {background-position:0 -80px;} .ie8 .con-bw, .lt-ie8 .con-bw {display:block;} .ie8 .con-bw .info-bw .con-bt-bw, .lt-ie8 .con-bw .info-bw .con-bt-bw {display:none;}
/*─────────────────────────────────/ Bw*/

/*───────────────────────────────── Normalize*/
a {text-decoration:none;} a:active, a:hover {outline:0;} a:focus {outline:thin dotted;} abbr[title] {border-bottom:1px dotted;} article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {display:block;} audio, canvas, video {display:inline-block;} audio:not([controls]) {display:none; height:0;} b, strong {font-weight:bold;} body {margin:0;} button, input, select, textarea {font-family:inherit; font-size:100%; margin:0;} button, input {line-height:normal;} button, select {text-transform:none;} button, html input[type="button"], input[type="reset"], input[type="submit"] {cursor:pointer; -webkit-appearance:button;} button[disabled], html input[disabled] {cursor:default;} button::-moz-focus-inner, input::-moz-focus-inner {border:0; padding:0;} code, kbd, pre, samp {font-family:monospace, serif; font-size:1em;} dfn {font-style:italic;} figure {margin:0;} fieldset {border:1px solid #c0c0c0; margin:0 2px; padding:0.35em 0.625em 0.75em;} legend {border:0; padding:0;} hr {box-sizing:content-box; height:0; -moz-box-sizing:content-box;} html {font-family:sans-serif; -ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;} h1 {font-size:2em; margin:0.67em 0;} img {border:0;} input[type="checkbox"], input[type="radio"] {box-sizing:border-box; padding:0;} input[type="search"] {box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; -webkit-appearance:textfield;} input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;} mark {background:#ff0; color:#000;} /*pre {white-space:pre-wrap;}*/ q {quotes:"\201C" "\201D" "\2018" "\2019";} small {font-size:80%;} sub, sup {font-size:75%; line-height:0; position:relative; vertical-align:baseline;} sup {top:-0.5em;} sub {bottom:-0.25em;} svg:not(:root) {overflow:hidden;} table {border-spacing:0; border-collapse:collapse;} textarea {overflow:auto; vertical-align:top;} [hidden] {display:none;} 
/*── Add*/
* {outline:none; -webkit-tap-highlight-color:rgba(255, 255, 255, 0);}
.cfx:after {clear:both; content:""; display:block; font-size:0; height:0; visibility:hidden;}
* html .cfx {zoom:1;}
*:first-child+html .cfx {zoom:1;}
::selection {background:#f2f2f2; color:#333; text-shadow:none;}
::-moz-selection {background:#f2f2f2; color:#333; text-shadow:none;}
.fl {float:left;} .fr {float:right;} p {color:#818181; font:1em 'Lato-L'; margin:0 0 0.6em; padding:5px;} .op {opacity:0; filter:alpha(opacity=00); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=00)";} .tr {transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;}
/*─────────────────────────────────/ Normalize*/

/*───────────────────────────────── Fonts*/
@font-face {font-family: 'Lato-L'; src: url('../fonts/lato-lig-webfont.eot'); src: url('../fonts/lato-lig-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-lig-webfont.woff') format('woff'), url('../fonts/lato-lig-webfont.ttf') format('truetype'), url('../fonts/lato-lig-webfont.svg#latolight') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Lato-R'; src: url('../fonts/lato-reg-webfont.eot'); src: url('../fonts/lato-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-reg-webfont.woff') format('woff'), url('../fonts/lato-reg-webfont.ttf') format('truetype'), url('../fonts/lato-reg-webfont.svg#latoregular') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Lato-B'; src: url('../fonts/lato-bol-webfont.eot'); src: url('../fonts/lato-bol-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bol-webfont.woff') format('woff'), url('../fonts/lato-bol-webfont.ttf') format('truetype'), url('../fonts/lato-bol-webfont.svg#latobold') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Lato-BL'; src: url('../fonts/lato-bla-webfont.eot'); src: url('../fonts/lato-bla-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lato-bla-webfont.woff') format('woff'), url('../fonts/lato-bla-webfont.ttf') format('truetype'), url('../fonts/lato-bla-webfont.svg#latoblack') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Aller-LR'; src: url('../fonts/aller_lt-webfont.eot'); src: url('../fonts/aller_lt-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_lt-webfont.woff') format('woff'), url('../fonts/aller_lt-webfont.ttf') format('truetype'), url('../fonts/aller_lt-webfont.svg#aller_lightregular') format('svg'); font-weight: normal; font-style: normal;}
@font-face {font-family: 'Aller-B'; src: url('../fonts/aller_bd-webfont.eot'); src: url('../fonts/aller_bd-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/aller_bd-webfont.woff') format('woff'), url('../fonts/aller_bd-webfont.ttf') format('truetype'), url('../fonts/aller_bd-webfont.svg#allerbold') format('svg'); font-weight: normal; font-style: normal;}
/*─────────────────────────────────/ Fonts*/

/*───────────────────────────────── Site Styles*/
body {background:#fff; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:16px; min-width:300px;}
h1.high-tt {color:#646464; font:1.2em 'Lato-L'; line-height:20px; margin:3em 0 1em; padding:25px 0 0; width:100%;}
h1.high-tt strong {color:#f4a500; border-right:1px solid #f4a500; float:left; font:2.8em 'Lato-R'; line-height:70px; margin:-25px 0.4em 0 0; padding:0 0.4em 0 0;}
h1.int-tt {color:#f4a500; border-bottom:1px solid #f4a500; font:2em 'Lato-R'; line-height:34px; margin:1em 0; padding:0.48em 2em 0.48em 0; /*width:100%;*/}
h2 {color:#e3402e; font:1.2em 'Lato-B'; line-height:1.4; margin:0.5em 0; padding:0;}
#preload {background:#fff url('../img/preload.gif') center center no-repeat; bottom:0; height:100%; left:0; position:fixed; right:0; top:0; width:100%; z-index:9999;}
#google_translate_element {margin:1.8em 0 0; min-height:58px; width:145px;} #google_translate_element .skiptranslate.goog-te-gadget span {white-space:pre-wrap !important;}
.check-bt {background:#f7b400 url('../img/check-icon.png') right center no-repeat; -webkit-box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4); display:block; height:auto; padding:0.5em 4em 0.5em 0.5em; position:fixed; right:0; top:9.4em; width:auto; z-index:99;}
.check-bt h1 {color:#fff; font:1em 'Lato-B'; margin:0.1em auto 0.2em; overflow:hidden; padding:0; text-align:left; width:100%; white-space:nowrap;}
.check-bt p {color:#fff; margin:0 auto; overflow:hidden; padding:0; text-align:left; width:100%; white-space:nowrap;}
.con-bts-list {height:2.5em; margin:1.2em 0; position:relative; width:100%;}
.con-bts-list a {background-color:#f7b400; color:#fff; cursor:pointer; display:block; font:1em 'Lato-B'; height:100%; line-height:2.5; overflow:hidden; padding:0 2em; position:absolute; text-align:left; top:0;} 
.con-bts-list a:hover {background-color: #e3402e; -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); z-index:2;}
.con-bts-list .bt-list-car {border-right:2px solid #fff; left:0; width:3.75em;} .con-bts-list .bt-list-car:hover {width:6.8em;} .con-bts-list .bt-list-more {border-left:2px solid #fff; right:0; width:2em;} .con-bts-list .bt-list-more:hover {width:4em;} .con-bts-list .bt-list-no {border-right:2px solid #fff; left:0; width:4.7em;} .con-bts-list .bt-list-no:hover {width:6.5em;} .con-bts-list .bt-list-back {border-right:2px solid #fff; left:0; width:3.25em;} .con-bts-list .bt-list-back:hover {width:5.2em;} .con-bts-list .bt-list-cot {border-left:2px solid #fff; right:0; width:4.2em;} .con-bts-list .bt-list-cot:hover {width:6.4em;}
.con-bts-list a span {background:url('../img/rentamuebles-sp.png'); height:1.875em; margin:0.3em 0 0; width:1.875em;} .con-bts-list a span.bt-list-t1 {background-position:-48px -80px;} .con-bts-list a span.bt-list-t2 {background-position:-78px -80px;} .con-bts-list a span.bt-list-t3 {background-position:-108px -80px;} .con-bts-list a span.bt-list-t4 {background-position:-138px -80px;}
.con-clients-slider {height:auto; margin:2em auto 0; width:100%;}
.con-clients-slider .clients-slider {margin:0; padding:0;}
.con-clients-slider .clients-slider li {box-shadow:inset 0 0 0 2px rgba(232,232,232,1); -webkit-box-shadow:inset 0 0 0 2px rgba(232,232,232,1);}
.con-clients-slider .clients-slider li img {float:left; height:auto; position:relative; width:100%; z-index:-1;}
.con-colors {font-size:0; height:100%; text-align:center; width:50%;}
.con-colors .color {cursor:pointer; display:block; font-size:16px; float:left; height:100%; margin:0 0.5%; padding:0; position:relative; width:19%;} .con-colors .color:hover {-webkit-box-shadow:none; box-shadow:none;}
.con-header, .con-section, .con-footer {height:auto; width:100%;} .con-footer {background:#f8f8f8; margin:4.5em 0 0; padding:3em 0 0;} .con-header {background:#fff; border-top:0.5em solid #323232; box-shadow:0px 2px 6px 0px rgba(0,0,0,0.5); -webkit-box-shadow:0px 2px 6px 0px rgba(0,0,0,0.5); padding:1em 0; position:relative; z-index:100;}
.con-header .mg-header, .con-section .mg-section, .con-footer .mg-footer {height:auto; margin:0 auto; max-width:940px;}
.con-footer .mg-footer .con-foo-cols {height:auto; width:100%;}
.con-footer .mg-footer .con-foo-cols .foo-col-ll {width:64%;} .con-footer .mg-footer .con-foo-cols .foo-col-lr {width:36%;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .foo-col {height:auto; margin:0 0 2em;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .foo-col h1 {font:1.2em 'Lato-B'; line-height:1.2; margin:0 0 1.6em; padding:0;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 {box-shadow:2px 0px 0px 0px rgba(236,236,236,1); -webkit-box-shadow:2px 0px 0px 0px rgba(236,236,236,1); padding:0 2% 0 0; width:42%;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 h1 {color:#f7b400;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 ul {margin:0; padding:0 0 0 1.2em;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 ul li {list-style-type:none; width:100%;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 ul li a {border-bottom:1px solid #f8f8f8; display:block; color:#818181; float:left; font:0.8em 'Lato-L'; line-height:1; margin:0 0 0.3em; padding:0.2em 0; width:auto;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 ul li a:hover {border-bottom-color:#e3402e; color:#e3402e;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 {padding:0 0 0 8%; width:48%;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 h1 {color:#e3402e;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul {margin:0; padding:0;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li {color:#818181; font:0.8em 'Lato-L'; line-height:1; list-style-type:none; margin:0 0 0.3em; padding:0.2em 0 0.2em 3.25em; position:relative;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li span {background:url('../img/rentamuebles-sp.png'); height:15px; left:15px; margin:-8px 0 0; position:absolute; top:50%; width:15px;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li span.foo-icon1 {background-position:-40px 0;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li span.foo-icon2 {background-position:-55px 0;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li span.foo-icon3 {background-position:-70px 0;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li span.foo-icon4 {background-position:-85px 0;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li a {border-bottom:1px solid #f8f8f8; color:#e65949; font-family:'Lato-B';} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 ul li a:hover {text-decoration:underline;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 {padding:2.25em 0 0.4em; width:7em;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 .foo-red {background:#f4a500; display:block; float:left; height:3em; margin:0 0.5em 0.4em 0; position:relative; width:3em;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 .foo-red:hover {background:#e3402e;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 .foo-red span {background:url('../img/rentamuebles-sp.png'); height:20px; left:50%; margin:-10px 0 0 -11px; position:absolute; top:50%; width:22px;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 .foo-red1 span {background-position:-48px -20px;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 .foo-red2 span {background-position:-70px -20px;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 .foo-red3 span {background-position:-92px -20px;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c3 .foo-red4 span {background-position:-114px -20px;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c4 {box-shadow:-2px 0px 0px 0px rgba(236,236,236,1); -webkit-box-shadow:-2px 0px 0px 0px rgba(236,236,236,1); margin:0 2.8em 2em 2.5em; padding:0 0 0 3em;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c4 a {display:block; height:10.5em; width:5.375em;}
.con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c4 a img {height:100%; width:100%;}
.con-footer .mg-footer .con-foo-copy {border-top:1px solid #e8e8e8; height:auto; margin:0.5em 0 0; padding:0.2em 0; width:100%;}
.con-footer .mg-footer .con-foo-copy .foo-copy {max-width:700px;}
.con-footer .mg-footer .con-foo-copy .foo-copy p {color:#818181; font:0.75em 'Lato-R'; line-height:40px; margin:0; padding:0;} .con-footer .mg-footer .con-foo-copy .foo-copy p strong {font-family:'Lato-B';}
.con-header .mg-header .header-logo {height:5.375em; width:11.25em;}
.con-header .mg-header .header-logo a {display:block;}
.con-header .mg-header .header-logo a img {height:100%; width:100%;}
.con-header .mg-header .con-nav .main-nav {margin:2.5em 1.8em 0; padding:0; text-align:center;}
.con-header .mg-header .con-nav .main-nav li {box-shadow:1px 0px 0px 0px rgba(209,209,209,1); -webkit-box-shadow:1px 0px 0px 0px rgba(209,209,209,1); display:inline; list-style-type:none; padding:0 0 0.2em;} .con-header .mg-header .con-nav .main-nav li:last-child {box-shadow:1px 0px 0px 0px rgba(255,255,255,1); -webkit-box-shadow:1px 0px 0px 0px rgba(255,255,255,1);}
.con-header .mg-header .con-nav .main-nav li a {color:#c4c4c4; display:inline-block; font:0.8em 'Lato-B'; padding:2.5em 1.5em 0.2em 1.25em; position:relative;} .con-header .mg-header .con-nav .main-nav li a:hover {color:#464646;}
.con-header .mg-header .con-nav .main-nav li a span {background:url('../img/rentamuebles-sp.png'); height:20px; left:50%; margin:0 0 0 -11px; position:absolute; top:0; width:22px;}
.con-header .mg-header .con-nav .main-nav li a span.nav-icon1 {background-position:-48px -40px;} .con-header .mg-header .con-nav .main-nav li a:hover span.nav-icon1 {background-position:-48px -60px;} .con-header .mg-header .con-nav .main-nav li a span.nav-icon2 {background-position:-70px -40px;} .con-header .mg-header .con-nav .main-nav li a:hover span.nav-icon2 {background-position:-70px -60px;} .con-header .mg-header .con-nav .main-nav li a span.nav-icon3 {background-position:-92px -40px;} .con-header .mg-header .con-nav .main-nav li a:hover span.nav-icon3 {background-position:-92px -60px;} .con-header .mg-header .con-nav .main-nav li a span.nav-icon4 {background-position:-114px -40px;} .con-header .mg-header .con-nav .main-nav li a:hover span.nav-icon4 {background-position:-114px -60px;}
.con-map {height:10em; margin:0 0 1em; overflow:hidden; position:relative; width:100%;}
.con-map.map-dk {display:block;} .con-map.map-dv {display:none; margin:2em 0;}
.con-map .map {background-position: center center !important; height:100%; left:0; pointer-events:none; position:absolute; top:0; width:100%;}
.con-map .map .map iframe {height:100%; width:100%;}
.con-map .map-pick {background:url('../img/rentamuebles-sp.png') -168px 0; height:60px; left:50%; margin:-60px 0 0 -22.5px; position:absolute; top:50%; width:45px; z-index:99;}
.con-map .map-bor-1, .con-map .map-bor-2, .con-map .map-bor-3, .con-map .map-bor-4 {background:#f8f8f8; position:absolute; z-index:99;} .con-map .map-bor-1, .con-map .map-bor-2 {height:0.5em; left:0; width:100%;} .con-map .map-bor-1 {top:0;} .con-map .map-bor-2 {bottom:0;} .con-map .map-bor-3, .con-map .map-bor-4 {height:100%; top:0; width:0.5em;} .con-map .map-bor-3 {left:0;} .con-map .map-bor-4 {right:0;}
.con-modal {display:none; height:100%; width:100%;}
.con-modal .modal-info {float:left; height:100%; margin:0; overflow:auto; padding:0 5%; width:90%;}
.con-modal .modal-info h2 {margin:1.5em 0 1em;}
.con-modal .modal-info p {padding:0;}
.con-modal .modal-info .grl-form .bt-submit {margin:0 0 1.5em;}
.con-nav-lr {background:#3c3c3c; height:100%; left:50%; margin:0 0 0 470px; position:absolute; width:100%;}
.con-nav-lr .mg-nav-lr {max-width:940px; margin:0;}
.con-nav-lr .mg-nav-lr .icon-nav-lr {height:116px; margin:0 0 0 1.75em; width:124px;}
.con-nav-lr .mg-nav-lr .icon-nav-lr img {height:100%; width:100%;}
.con-nav-lr .mg-nav-lr .nav-lr-dk {margin:6.5em 0 0; padding:0 0 0 1.5em; width:auto;}
.con-nav-lr .mg-nav-lr .nav-lr-dk li {list-style-type:none;}
.con-nav-lr .mg-nav-lr .nav-lr-dk li a {border-bottom:1px dashed #595959; display:block; float:left; margin:0 1em 0 0; max-width:7.5em; padding:1.2em 1.5em 1.2em 0; position:relative;} .con-nav-lr .mg-nav-lr .nav-lr-dk li:last-child a {border-bottom:none;}
.con-nav-lr .mg-nav-lr .nav-lr-dk li a h1 {color:#fff; float:left; font:2.4em 'Aller-LR'; line-height:1.2; margin:0.2em 0.8em 0 0; padding:0; width:auto;}
.con-nav-lr .mg-nav-lr .nav-lr-dk li a span {background:url('../img/rentamuebles-sp.png') 0 -40px no-repeat; height:26px; margin:-13px 0 0; position:absolute; right:0; top:50%; width:24px;} .con-nav-lr .mg-nav-lr .nav-lr-dk li a:hover span {background-position:0 -66px;} .con-nav-lr .mg-nav-lr .nav-lr-dk li a:active span {background-position:0 -92px;}
/*.con-nav-lr .mg-nav-lr .nav-lr-dv {display:none; height:3em; margin:1.2em 0 0 0; padding:0; position:relative; width:auto; z-index:50;}
.con-nav-lr .mg-nav-lr .nav-lr-dv li {list-style-type:none;}
.con-nav-lr .mg-nav-lr .nav-lr-dv li a {border-bottom:1px dashed #595959; color:#fff; cursor:pointer; display:block; font:1em 'Aller-LR'; line-height:2.5; margin:0 1em; padding:0 2em 0 0; position:relative;}
.con-nav-lr .mg-nav-lr .nav-lr-dv li a span {background:url('../img/rentamuebles-sp.png') -24px -40px no-repeat; height:26px; margin:-15px 0 0; position:absolute; right:0; top:50%; width:24px;}*/
.con-header .mg-header .con-nav .nav-lr-dv {display:none; height:3em; margin:1.5em 0 0 0; padding:0; position:relative; width:auto; z-index:50;}
.con-header .mg-header .con-nav .nav-lr-dv li {list-style-type:none;}
.con-header .mg-header .con-nav .nav-lr-dv li a {/*border-bottom:1px dashed #595959;*/ color:#595959; cursor:pointer; display:block; font:1.2em 'Aller-LR'; line-height:2.5; margin:0 1em 0 0; padding:0 0 0 2em; position:relative;}
.con-header .mg-header .con-nav .nav-lr-dv li a span {background:url('../img/rentamuebles-sp.png') -168px -60px no-repeat; height:30px; left:0; margin:-17px 0 0; position:absolute; top:50%; width:30px;}
.con-header .mg-header .con-nav .nav-lr-dv li .subnav-lr-dv {background-color:#3c3c3c; box-shadow:0px 4px 10px -2px rgba(0, 0, 0, 0.8); -webkit-box-shadow:0px 4px 10px -2px rgba(0, 0, 0, 0.8); display:none; left:0; margin:0; padding:8px 18px; top:100%; position:absolute; z-index:99;}
.con-header .mg-header .con-nav .nav-lr-dv li .subnav-lr-dv li {border-bottom:1px dashed #595959; list-style-type:none; width:100%;} .con-header .mg-header .con-nav .nav-lr-dv li .subnav-lr-dv li:last-child {border:none;}
.con-header .mg-header .con-nav .nav-lr-dv li .subnav-lr-dv li a {color:#fff; display:block; font:14px 'Aller-LR'; line-height:16px; margin:0; padding:10px 5px; position:relative; width:100%; z-index:9;}
/*.con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv {background:#3c3c3c; box-shadow:0px 4px 10px -2px rgba(0, 0, 0, 0.8); -webkit-box-shadow:0px 4px 10px -2px rgba(0, 0, 0, 0.8); display:none; left:0; margin:0; padding:0 1em; top:100%; position:absolute;}
.con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv li {float:left; list-style-type:none; width:100%;}
.con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv li a {border-bottom:1px dashed #595959; display:block; float:left; margin:0 2em 0 0; padding:0.6em 0; width:100%;} .con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv li:last-child a {border-bottom:none;}
.con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv li a h1 {color:#fff; float:left; font:0.6em 'Aller-LR'; line-height:1.8; margin:0.4em 0.8em 0 0; padding:0; width:auto;}
.con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv li a span {background:url('../img/rentamuebles-sp.png') 0 -40px no-repeat; height:26px; right:0.2em; width:24px;} .con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv li a:hover span {background-position:0 -66px;} .con-nav-lr .mg-nav-lr .nav-lr-dv li .subnav-lr-dv li a:active span {background-position:0 -92px;}*/
.con-section .mg-section .contact-col {width:46%;}
.con-section .mg-section .contact-col p {margin:0 0 0.5em; padding:0;}
.con-section .mg-section .contact-col p a {border-bottom:1px solid #fff; color:#e65949;} .con-section .mg-section .contact-col p a:hover {border-bottom:1px solid #e65949;}
.con-section .mg-section .con-back-bt {font-size:0; text-align:center; width:100%;}
.con-section .mg-section .con-back-bt .back-bt {background:#f7b400; color:#fff; display:inline-block; font:18px 'Lato-B'; height:2.5em; line-height:2.6; margin:2em 0 0; padding:0 0.5em; text-align:right; width:auto;} .con-section .mg-section .con-back-bt .back-bt:hover {background:#e3402e; -webkit-box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4);}
.con-section .mg-section .con-back-bt .back-bt span {float:left; font:1.5em 'Lato-L'; line-height:1.6; margin:0; overflow:hidden; text-align:left; width:0;} .con-section .mg-section .con-back-bt .back-bt:hover span {width:1em;}
.con-section .mg-section .con-cats {font-size:0; text-align:center; width:100%;}
.con-section .mg-section .con-cats .item-cat {background:#f8f8f8; display:inline-block; font-size:16px; height:17em; position:relative; width:17em; margin:2.5em 1.25em 0;}
.con-section .mg-section .con-cats .item-pro {background:#f8f8f8; display:inline-block; font-size:16px; height:13.1875em; position:relative; width:13.1875em; margin:1em 0.5em 0;}
.con-section .mg-section .con-cats .item-list {background:#f8f8f8; cursor:help; display:inline-block; font-size:16px; height:20em; padding:1em; position:relative; width:15em; margin:2.5em 1.25em 0; opacity:1; filter:alpha(opacity=99); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";}
.con-section .mg-section .con-cats .item-list h1 {color:#818181; font:1.2em 'Lato-B'; height:2.4em; margin:0; overflow:hidden; padding:0; text-align:left;}
.con-section .mg-section .con-cats .item-list img {height:8em; margin:0.5em 0 1em; width:100%;} .con-section .mg-section .con-cats .item-list:hover img {-webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4);}
.con-section .mg-section .con-cats .item-list p {margin:0; max-height:3.3em; overflow:hidden; padding:0; text-align:justify;}
.con-section .mg-section .con-info-pro {height:auto; width:100%;}
.con-section .mg-section .con-info-pro .con-gal-info, .con-section .mg-section .con-info-pro .con-gal-tx {height:auto; margin:1.5em 0 0;}
.con-section .mg-section .con-info-pro .con-gal-info {position:relative; width:42%;}
.con-section .mg-section .con-info-pro .con-gal-info .con-gal-grl {display:none; height:auto; left:0; position:relative; top:0; width:100%;}
.con-section .mg-section .con-info-pro .con-gal-info .con-gal-grl .gal-img-b {height:auto; margin:0 0 0.7em; width:100%;}
.con-section .mg-section .con-info-pro .con-gal-info .con-gal-grl .gal-img-b img {display:none; height:auto; margin:0 1%; width:98%;}
.con-section .mg-section .con-info-pro .con-gal-info .con-gal-grl .gal-minis {font-size:0; height:auto; margin:0 0 2em; text-align:center; width:100%;}
.con-section .mg-section .con-info-pro .con-gal-info .con-gal-grl .gal-minis img {cursor:pointer; display:inline-block; font-size:16px; height:auto; margin:0 1%; opacity:0.5; filter:alpha(opacity=50); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; width:18%;} 
.con-section .mg-section .con-info-pro .con-gal-info .con-gal-grl .gal-minis img:hover {opacity:0.75; filter:alpha(opacity=75); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";}
.con-section .mg-section .con-info-pro .con-gal-info .con-gal-grl .gal-minis .mini-act {border-top:4px solid #e3402e; -webkit-box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4); opacity:1; filter:alpha(opacity=99); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";}
.con-section .mg-section .con-info-pro .con-gal-tx {width:54%;}
.con-section .mg-section .con-pagina {height:auto; text-align:right; margin:2em 0 0; width:100%;}
.con-section .mg-section .con-pagina a {color:#818181; font:0.8em 'Lato-R'; margin:0; padding:0;} .con-section .mg-section .con-pagina .pag-tx {font-size:1.8em; line-height:0.7; padding:0 0.2em; vertical-align:top;} .con-section .mg-section .con-pagina .pag-tx:hover {color:#e3402e;}
.con-section .mg-section .con-pagina .pag-num {background:#f8f8f8; color:#464646; padding:0.8em;} .con-section .mg-section .con-pagina .pag-num:hover {background:#f7b400; color:#fff;}
.con-section .mg-section .con-pagina .pag-num.pag-act {background:#e3402e; color:#fff;}
.con-section .mg-section .con-service {background:#f8f8f8; cursor:help; height:auto; margin:1.5em 0 0; opacity:1; filter:alpha(opacity=99); -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=99)"; width:100%;}
.con-section .mg-section .con-service .service-info {height:auto; margin:4% 4% 2.5%; width:92%;}
.con-section .mg-section .con-service .service-info h2 {margin:0 0 0.5em;}
.con-section .mg-section .con-service .service-info img {-webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); height:auto; margin:0 2em 1em 0; width:15.75em;}
.con-section .mg-section .high-img {background-color:#e2e2e2; background-position:center center; background-size:cover; background-repeat:no-repeat; height:12.125em; width:48.5%;}
.con-section .mg-section .high-tx {height:12.125em; overflow:auto; padding:0 2% 0 0; width:46.5%;}
.con-section .mg-section .high-tx p {padding:0; text-align:justify;}
.con-section .mg-section .mg-renta-slider {height:275px; margin:1em 2em 1em 0; width:375px;}
.con-section .mg-section .resumen-table {background:#f8f8f8; -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); border-top:none; height:auto; margin:1em 0 4em; width:100%;} 
.con-section .mg-section .resumen-table tr th {border-top:1px solid #eee; border-right:1px solid #e6e6e6; border-bottom:1px solid #eee; border-left:1px solid #e6e6e6; height:50px; color:#818181; font:1.2em 'Lato-B'; padding:2%;}
.con-section .mg-section .resumen-table tr td {border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; border-left:1px solid #e6e6e6; color:#8b8b8b; font:1em 'Lato-R'; padding:1% 2%; text-align:center;} .con-section .mg-section .resumen-table tr td.pro-name {text-align:left;}
.con-section .mg-section .resumen-table tr td .con-clear-bt {height:100%; width:100%;}
.con-section .mg-section .resumen-table tr td .con-clear-bt .clear-bt {background:url('../img/rentamuebles-sp.png') -138px 0; display:block; height:30px; margin:0 auto; width:30px;} .con-section .mg-section .resumen-table tr td .con-clear-bt .clear-bt:hover {background-position:-138px -30px;}
.con-section .mg-section .resumen-table tr td input {border:2px solid #e1e1e1; border-radius:2px; -webkit-border-radius:2px; color:#8b8b8b; font:1em 'Lato-R'; margin:0 auto; padding:0.6em 0.2em; text-align:center; width:80%;}
.con-slider {height:30.375em; overflow:hidden; position:relative; width:100%;}
.con-slider .mg-slider {height:100%; margin:0 -470px 0 0; position:absolute; right:50%; width:100%;}
.foo-fk {background:#f8f8f8; height:100%; position:fixed; width:100%;}
.grl-form {margin:1.5em 0 0; width:100%;}
.grl-form fieldset {border:none; height:auto; margin:1em 0; padding:0 0 0 2%; width:98%;}
.grl-form fieldset input {cursor:pointer; float:left; margin:0.25em 0 0; padding:0; width:auto;}
.grl-form fieldset label {color:#818181; cursor:pointer; font:1em 'Lato-R'; margin:0 0 0 -0.4em; padding:0 0 0 1em;} .grl-form fieldset label a {border-bottom:1px solid #fff; color: #e65949; font-family: 'Lato-B';} .grl-form fieldset label a:hover {border-bottom-color:#e65949;}
.grl-form input {background:#f4f4f4; border:none; border-bottom:2px solid #fff; color:#818181; font:1em 'Lato-R'; margin:0 0 1em; padding:0.5em 2%; width:42%;} .grl-form input:hover {background:#fff; border-bottom-color:#ccc;} .grl-form input:focus {background:#fff; border-bottom-color:#f7b400;}
.grl-form select {background:#f4f4f4; border:none; border-bottom:2px solid #fff; color:#818181; font:1em 'Lato-R'; margin:0 0 1em; padding:0.5em 2%; width:100%;} .grl-form select:hover {background:#fff; border-bottom-color:#ccc;} .grl-form select:focus {background:#fff; border-bottom-color:#f7b400;}
.grl-form textarea {background:#f4f4f4; border:none; border-bottom:2px solid #fff; color:#818181; font:1em 'Lato-R'; height:9.5em; margin:0 0 1em; padding:0.5em 2%; resize:none; width:96%;} .grl-form textarea:hover {background:#fff; border-bottom-color:#ccc;} .grl-form textarea:focus {background:#fff; border-bottom-color:#f7b400;}
.grl-form .bt-submit {background-color:#f7b400 !important; background-position:right center !important; border:none; color: #fff; cursor: pointer; float:right; font: 1em 'Lato-B'; height: 2.5em; margin:0; overflow: hidden; padding:0 1em; text-align: left; width:auto;} .grl-form .bt-submit:hover {background:#e3402e url('../img/send-icon.png') right center no-repeat !important; -webkit-box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.4); padding:0 3em 0 1em;}
.modal-form {border-top:2px solid #ececec; border-bottom:2px solid #ececec; margin:1em 0 1.5em; padding:1em 0 0;}
.modal-form fieldset {border:none; height:auto; margin:0 0 1em; padding:0 0 0 2%; width:98%;}
.modal-form fieldset input {cursor:pointer; margin:0; padding:0;}
.modal-form fieldset label {color:#818181; cursor:pointer; font:1em 'Lato-R'; margin:0 0 0 -0.4em; padding:0 0 0 1em;}
.over-item {display:block; height:100%; left:0; overflow:hidden; position:absolute; top:0; width:100%; z-index:0;} .over-item:hover {-webkit-box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4); box-shadow:0px 10px 20px -5px rgba(0, 0, 0, 0.4);}
.over-item img {left:0; position:absolute; top:0; z-index:1;} .over-item:hover img {top:-2em;}
.over-item span {background:url('../img/over-cp-bg.png'); bottom:0; left:0; max-height:0; min-height:1.5em; overflow:hidden; padding:1em 0; position:absolute; width:100%; z-index:2;} .over-item:hover span {background:#f4a500; max-height:50%;}
.over-item span .con-more-tx {height:auto; max-height:6.4em; padding:0 5%; overflow:hidden; width:90%;}
.over-item span .con-more-tx h1 {color:#fff; font:1.2em 'Lato-B'; line-height:1.4; margin:0 0 1em; padding:0;}
.over-item span .con-more-tx p {color:#fff;}
/*Rs. Def.*/ .royalSlider {width: 600px; height: 400px; position: relative; direction: ltr;} .rsWebkit3d .rsSlide, .rsWebkit3d .rsContainer, .rsWebkit3d .rsThumbs, .rsWebkit3d .rsPreloader, .rsWebkit3d img, .rsWebkit3d .rsOverflow, .rsWebkit3d .rsBtnCenterer, .rsWebkit3d .rsAbsoluteEl {-webkit-backface-visibility: hidden; -webkit-transform: translateZ(0);} .rsFade.rsWebkit3d .rsSlide, .rsFade.rsWebkit3d img, .rsFade.rsWebkit3d .rsContainer {-webkit-transform: none;} .rsOverflow {width: 100%; height: 100%; position: relative; overflow: hidden; float: left; -webkit-tap-highlight-color:rgba(0,0,0,0);} .rsContainer {position: relative; width: 100%; height: 100%; -webkit-tap-highlight-color:rgba(0,0,0,0);} .rsArrow, .rsThumbsArrow {cursor: pointer;} .rsThumb {float: left; position: relative;} .rsArrow, .rsNav, .rsThumbsArrow {opacity: 1; -webkit-transition:opacity 0.3s linear; -moz-transition:opacity 0.3s linear; -o-transition:opacity 0.3s linear; transition:opacity 0.3s linear;} .rsHidden {opacity: 0; visibility: hidden; -webkit-transition:visibility 0s linear 0.3s,opacity 0.3s linear; -moz-transition:visibility 0s linear 0.3s,opacity 0.3s linear; -o-transition:visibility 0s linear 0.3s,opacity 0.3s linear; transition:visibility 0s linear 0.3s,opacity 0.3s linear;} .rsGCaption {width: 100%; float: left; text-align: center;} .royalSlider.rsFullscreen {position: fixed !important; height: auto !important; width: auto !important; margin: 0 !important; padding: 0 !important; z-index: 2147483647 !important; top: 0 !important; left: 0 !important; bottom: 0 !important; right: 0 !important;} .royalSlider .rsSlide.rsFakePreloader {opacity: 1 !important; -webkit-transition: 0s; -moz-transition: 0s; -o-transition: 0s; transition: 0s; display: none;} .rsSlide {position: absolute; left: 0; top: 0; display: block; overflow: hidden; height: 100%; width: 100%;} .royalSlider.rsAutoHeight, .rsAutoHeight .rsSlide {height: auto;} .rsContent {width: 100%; height: 100%; position: relative;} .rsPreloader {position:absolute; z-index: 0;} .rsNav {-moz-user-select: -moz-none; -webkit-user-select: none; user-select: none;} .rsNavItem {-webkit-tap-highlight-color:rgba(0,0,0,0.25);} .rsThumbs {cursor: pointer; position: relative; overflow: hidden; float: left; z-index: 22;} .rsTabs {float: left;} .rsTabs, .rsThumbs {-webkit-tap-highlight-color:rgba(0,0,0,0); -webkit-tap-highlight-color:rgba(0,0,0,0);} .rsVideoContainer {/*left: 0; top: 0; position: absolute; width: 100%; height: 100%; position: absolute; left: 0; top: 0; float: left;*/ width: auto; height: auto; line-height: 0; position: relative;} .rsVideoFrameHolder {position: absolute; left: 0; top: 0; background: #141414; opacity: 0; -webkit-transition: .3s;} .rsVideoFrameHolder.rsVideoActive {opacity: 1;} .rsVideoContainer iframe, .rsVideoContainer video, .rsVideoContainer embed, .rsVideoContainer .rsVideoObj {position: absolute; z-index: 0; left: 0; top: 0; width: 100%; height: 100%;} .rsVideoContainer.rsIOSVideo iframe, .rsVideoContainer.rsIOSVideo video, .rsVideoContainer.rsIOSVideo embed {-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 44px;} .rsABlock {/*left: 0; top: 0;*/ position: absolute; z-index: 15; -webkit-backface-visibility: hidden;} .grab-cursor {cursor:url('../img/rs/grab.png') 8 8, move;} .grabbing-cursor {cursor:url('../img/rs/grabbing.png') 8 8, move;} .rsNoDrag {cursor: auto;} .rsLink {left:0; top:0; position:absolute; width:100%; height:100%; display:block;	z-index: 20; background: url('../img/rs/blank.gif'); -webkit-backface-visibility: hidden;}
/*Rs. MinWhite*/ .rsMinW .rsOverflow, .rsMinW .rsSlide, .rsMinW .rsVideoFrameHolder, .rsMinW .rsThumbs {background: #fff;} /*1. Arrows*/ .rsMinW .rsArrow {height: 44px; width: 30px; position: absolute; display: block; cursor: pointer; z-index: 21;} .rsMinW .rsArrowLeft {right: 39px; bottom: 2px;} .rsMinW .rsArrowRight {right: 9px; bottom:2px;} .rsMinW .rsArrowIcn {width: 24px; height: 24px; top: 50%; left: 50%; margin-top:-12px; margin-left: -12px; position: absolute; cursor: pointer; background: url('../img/rs/rs-minimal-white.png'); background-color: transparent;} .rsMinW .rsArrowIcn:hover {} .rsMinW.rsHor .rsArrowLeft .rsArrowIcn {background-position: -68px -36px;} .rsMinW.rsHor .rsArrowRight .rsArrowIcn {background-position: -68px -68px;} .rsMinW.rsVer .rsArrowLeft .rsArrowIcn {background-position: -96px -32px;} .rsMinW.rsVer .rsArrowRight .rsArrowIcn {background-position: -96px -64px;} .rsMinW .rsArrowDisabled .rsArrowIcn {opacity: .3;} /*2. Bullets*/ .rsMinW .rsBullets {position: absolute; z-index: 35; bottom: 20px; right: 78px; width: auto; height: auto; text-align: left; overflow: hidden; line-height: 8px;} .rsMinW .rsBullet {width: 8px; height: 8px; display: inline-block; margin: 0 5px; border-radius: 50%; background: #aaa; background: rgba(255,255,255,0.4); *display:inline; *zoom:1;} .rsMinW .rsBullet.rsNavSelected {background: #fff;} /*3. Thumbnails*/ .rsMinW .rsThumbs {background: #FFF;} .rsMinW .rsThumbsHor {padding-bottom: 4px; width: 100%; height: 72px;} .rsMinW .rsThumbsVer {padding-right: 4px; width: 96px; height: 100%; position: absolute; top: 0; right: 0;} .rsMinW.rsWithThumbsHor .rsThumbsContainer {position: relative; height: 100%;} .rsMinW.rsWithThumbsVer .rsThumbsContainer {position: relative; width: 100%;} .rsMinW .rsThumb {float: left; overflow: hidden; width: 96px; height: 72px; color: #555;} .rsMinW .rsThumb:hover {color: #000;} .rsMinW .rsThumb img {width: 100%; height: 100%;} .rsMinW .rsThumb.rsNavSelected {background: #dadada; color: #000;} .rsMinW .rsThumb.rsNavSelected img {opacity: 0.3; filter: alpha(opacity=30);} .rsMinW .rsTmb {display: block;} /*Thumbnails arrow icons*/ .rsMinW .rsThumbsArrow {height: 100%; width: 20px; position: absolute; display: block; cursor: pointer; z-index: 21; background: #fff; background: rgba(255,255,255,0.75);} .rsMinW .rsThumbsArrow:hover {background: #ddd;} .rsMinW.rsWithThumbsVer .rsThumbsArrow {width: 100%; height: 20px;} .rsMinW.rsWithThumbsVer .rsThumbsArrowLeft {top: 0; left: 0;} .rsMinW.rsWithThumbsVer .rsThumbsArrowRight {bottom: 0; left: 0;} .rsMinW.rsWithThumbsHor .rsThumbsArrowLeft {left: 0; top: 0;} .rsMinW.rsWithThumbsHor .rsThumbsArrowRight {right: 0; top:0;} .rsMinW .rsThumbsArrowIcn {width: 16px; height: 16px; top: 50%; left: 50%; margin-top:-8px; margin-left: -8px; position: absolute; cursor: pointer; background: url('../img/rs/rs-minimal-white.png');} .rsMinW.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {background-position: -128px -32px;} .rsMinW.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {background-position: -128px -48px;} .rsMinW.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {background-position: -144px -32px;} .rsMinW.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {background-position: -144px -48px;} .rsMinW .rsThumbsArrowDisabled {display: none !important;} /*Thumbnails resizing on smaller screens*/ @media screen and (min-width: 0px) and (max-width: 800px){.rsMinW .rsThumb {width: 59px; 	height: 44px;} .rsMinW .rsThumbsHor {	height: 44px;} .rsMinW .rsThumbsVer {width: 59px;}} /*4. Tabs*/ .rsMinW .rsTabs {width: 100%; height: auto; margin: 0 auto; text-align:center; overflow: hidden; padding-top: 12px; position: relative;} .rsMinW .rsTab {display: inline-block; cursor: pointer; text-align: center; height: auto; width: auto; color: #333; padding: 5px 13px 6px; min-width: 96px; border: 1px solid #D9D9DD; border-right: 1px solid #f5f5f5; text-decoration: none; background-color: #FFF; background-image: -webkit-linear-gradient(top, #fefefe, #f4f4f4); background-image: -moz-linear-gradient(top, #fefefe, #f4f4f4); background-image: linear-gradient(to bottom, #fefefe, #f4f4f4); -webkit-box-shadow: inset 1px 0 0 #fff; box-shadow: inset 1px 0 0 #fff; *display:inline; *zoom:1;} .rsMinW .rsTab:first-child {-webkit-border-top-left-radius: 4px; border-top-left-radius: 4px; -webkit-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px;} .rsMinW .rsTab:last-child {-webkit-border-top-right-radius: 4px; border-top-right-radius: 4px; -webkit-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; border-right: 1px solid #cfcfcf;} .rsMinW .rsTab:active {border: 1px solid #D9D9DD; background-color: #f4f4f4; -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) inset;} .rsMinW .rsTab.rsNavSelected {color: white; border: 1px solid #999; text-shadow: 1px 1px #838383; -webkit-box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset; box-shadow: 0 1px 9px rgba(102, 102, 102, 0.65) inset; background: #ACACAC; background-image: -webkit-linear-gradient(top, #ACACAC, #BBB); background-image: -moz-llinear-gradient(top, #ACACAC, #BBB); background-image: linear-gradient(to bottom, #ACACAC, #BBB);} /*5. Fullscreen button*/ .rsMinW .rsFullscreenBtn {right: 0; top: 0; width: 44px; height: 44px; z-index: 22; display: block; position: absolute; cursor: pointer;} .rsMinW .rsFullscreenIcn {display: block; margin: 6px; width: 32px; height: 32px; background: url('../img/rs/rs-minimal-white.png') 0 0; background-color: #fff; background-color: rgba(255,255,255,0.75); border-radius: 2px;} .rsMinW .rsFullscreenIcn:hover {background-color: #fff;} .rsMinW.rsFullscreen .rsFullscreenIcn {background-position: -32px 0;} /*6. Play/close video button*/ .rsMinW .rsPlayBtn {-webkit-tap-highlight-color:rgba(0,0,0,0.3); width:64px; height:64px; margin-left:-32px; margin-top:-32px; cursor: pointer;} .rsMinW .rsPlayBtnIcon {width:64px; display:block; height:64px; -webkit-border-radius: 4px; border-radius: 4px; background:url('../img/rs/rs-minimal-white.png') no-repeat 0 -32px; background-color: #eee; background-color: rgba(238,238,238,0.75); -webkit-transition: .3s; -moz-transition: .3s; transition: .3s;} .rsMinW .rsPlayBtn:hover .rsPlayBtnIcon {background-color: #d5d5d5;} .rsMinW .rsBtnCenterer {position:absolute; left:50%; top:50%; width: 20px; height: 20px;} .rsMinW .rsCloseVideoBtn {right: 0; top: 0; width: 44px; height: 44px; z-index: 23; position: absolute; cursor: pointer;} .rsDefault .rsCloseVideoBtn.rsiOSBtn {top: -38px; right: -6px; /*top: -6px; right: -38px;*/} .rsMinW .rsCloseVideoIcn {margin: 6px; width: 32px; height: 32px; background: url('../img/rs/rs-minimal-white.png') -64px 0; background-color: #eee; background-color: rgba(238,238,238,0.75);} .rsMinW .rsCloseVideoIcn:hover {background-color: #d5d5d5;} /*7. Preloader*/ .rsMinW .rsPreloader {width:20px; height:20px; background-image:url('../img/rs/preloader.gif'); left:50%; top:50%; margin-left:-10px; margin-top:-10px;}
/*Rs. FullW*/ .home-slider {width: 100%;} .infoBlock {position: absolute; bottom:3.5em; left:100%; margin:0 0 0 -940px; max-width: 90%; background: #FFF; background: rgba(255, 255, 255, 0.8); overflow: hidden; padding:0;} .infoBlock a {display:block; padding:0.8em 1.6em;} .infoBlock h1 {color:#111; font:1.2em 'Lato-BL'; line-height:1.4em; height:auto; margin: 0; overflow:hidden; padding:1em 0 1em 4em; position:relative;} .infoBlock h1 span {background:url('../img/rentamuebles-sp.png') 0 0 no-repeat; height:40px; left:0; margin:-20px 0 0; position:absolute; top:50%; width:40px;} .fullWidth {/*max-width: 1400px;*/ height:100%; margin: 0; overflow:hidden; width:100%;} .home-slider {height:100% !important;}
/*Bx. Def*/ .bx-wrapper {position: relative; margin: 0 auto; padding: 0; *zoom: 1;} .bx-wrapper img {max-width: 100%; display: block;} .bx-wrapper .bx-viewport {left: 0;} .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {position: absolute; bottom: -30px; width: 100%;} .bx-wrapper .bx-loading {min-height: 50px; background: url('../img/bx/bx_loader.gif') center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000;} .bx-wrapper .bx-pager {text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px;} .bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item {display: inline-block; *zoom: 1; *display: inline;} .bx-wrapper .bx-pager.bx-default-pager a {background: #666; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px;} .bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {background: #000;} .bx-wrapper .bx-prev {left: -12px; background: url('../img/bx/controls.png') no-repeat 0 -32px;} .bx-wrapper .bx-next {right: -12px; background: url('../img/bx/controls.png') no-repeat -43px -32px;} .bx-wrapper .bx-prev:hover {background-position: 0 0;} .bx-wrapper .bx-next:hover {background-position: -43px 0;} .bx-wrapper .bx-controls-direction a {position: absolute; top: 50%; margin-top: -16px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999;} .bx-wrapper .bx-controls-direction a.disabled {display: none;} .bx-wrapper .bx-controls-auto {text-align: center;} .bx-wrapper .bx-controls-auto .bx-start {display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url('../img/bx/controls.png') -86px -11px no-repeat; margin: 0 3px;} .bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active {background-position: -86px 0;} .bx-wrapper .bx-controls-auto .bx-stop {display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url('../img/bx/controls.png') -86px -44px no-repeat; margin: 0 3px;} .bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active {background-position: -86px -33px;} .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {text-align: left; width: 80%;} .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {right: 0; width: 35px;} .bx-wrapper .bx-caption {position: absolute; bottom: 0; left: 0; background: #666\9; background: rgba(80, 80, 80, 0.75); width: 100%;} .bx-wrapper .bx-caption span {color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px;}
/*Mb. Def.*/ #rst-modal {background:url('../img/over-cp-bg.png'); width:100%; height:100%; z-index:1000; top:0px; left:0px; position:fixed; display:none;} #rst-modal > #rst-modal-shadow {background-color:transparent; width:100%; height:100%; padding:0; text-align:center; position:relative;} #rst-modal > #rst-modal-close {display:none !important; position:fixed; left:auto; right:0px; top:0; bottom:auto; z-index:1011; margin:0px; cursor:pointer; margin:0px; padding:0px; background:#f7b400; outline:none; border:none; border-bottom-left-radius:5px; color:#fff; font:2.5em 'Lato-B'; height:40px; width:50px; line-height:40px; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;} #rst-modal > #rst-modal-close:hover {background:#e3402e;} #rst-modal-shadow > #rst-modal-content {display:block; max-height:400px; /*height:auto !important;*/ position:absolute; top:50%; left:50%;} #rst-modal > #rst-modal-loadimg {display:none; position:fixed; z-index:1095; top:50%; left:50%; margin-top:-10px; margin-left:-45px; background-image:url('../img/preload.gif'); background-repeat :no-repeat; height:20px; width:90px;} .rst-modal-inlinecontent {background:#fff; border-radius:2px; z-index:1100; overflow:hidden; opacity:0; max-width:600px; text-align:left;}
.close-modal-sc {position:absolute; right:0px; top:0; z-index:1011; margin:0px; cursor:pointer; padding:0px; background:#f7b400; outline:none; border:none; border-bottom-left-radius:5px; color:#fff; font:2.5em 'Lato-B'; height:40px; width:50px; line-height:40px; transition:all 0.3s ease-in-out; -moz-transition:all 0.3s ease-in-out; -ms-transition:all 0.3s ease-in-out; -o-transition:all 0.3s ease-in-out; -webkit-transition:all 0.3s ease-in-out;} .close-modal-sc:hover {background:#e3402e;}
/*Valid Def.*/ .formError {z-index:990;} .formError .formErrorContent {z-index:991;} .formError .formErrorArrow {z-index:996;} .formErrorInsideDialog.formError {z-index:5000;} .formErrorInsideDialog.formError .formErrorContent {z-index:5001;} .formErrorInsideDialog.formError .formErrorArrow {z-index:5006;} .inputContainer {position:relative; float:left;} .formError {position:absolute; top:300px; left:300px; display:block; cursor:pointer;} .ajaxSubmit {padding:20px; background:#55ea55; border:1px solid #999; display:none} .formError .formErrorContent {width:135px; background:#fff; position:relative; color:#f50012; font:12px Georgia, serif; font-style:italic; border:1px solid #eee; box-shadow:2px 4px 8px rgba(0, 0, 0, 0.25); -moz-box-shadow:2px 4px 8px rgba(0, 0, 0, 0.25); -webkit-box-shadow:2px 4px 8px rgba(0, 0, 0, 0.25); padding:4px 10px 4px 10px;} .greenPopup .formErrorContent {background:#33be40;} .blackPopup .formErrorContent {background:#393939; color:#fff;} .formError .formErrorArrow {width:15px; margin:-2px 0 0 13px; position:relative;} body[dir='rtl'] .formError .formErrorArrow, body.rtl .formError .formErrorArrow {margin:-2px 13px 0 0;} .formError .formErrorArrowBottom {box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; margin:0px 0 0 12px; top:2px;} .formError .formErrorArrow div {border-left:2px solid #ddd; border-right:2px solid #ddd; box-shadow:2px 4px 8px #aaa; -moz-box-shadow:2px 4px 8px #aaa; -webkit-box-shadow:2px 4px 8px #aaa; font-size:0px; height:1px; background:#fff; margin:0 auto; line-height:0; font-size:0; display:block;} .formError .formErrorArrowBottom div {box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;} .greenPopup .formErrorArrow div {background:#33be40;} .blackPopup .formErrorArrow div {background:#393939; color:#fff;} .formError .formErrorArrow .line10 {width:15px; border:none;} .formError .formErrorArrow .line9 {width:13px; border:none;} .formError .formErrorArrow .line8 {width:11px;} .formError .formErrorArrow .line7 {width:9px;} .formError .formErrorArrow .line6 {width:7px;} .formError .formErrorArrow .line5 {width:5px;} .formError .formErrorArrow .line4 {width:3px;} .formError .formErrorArrow .line3 {width:1px; border-left:2px solid #ddd; border-right:2px solid #ddd; border-bottom:0 solid #ddd;} .formError .formErrorArrow .line2 {width:3px; border:none; background:#ddd;} .formError .formErrorArrow .line1 {width:1px; border:none; background:#ddd;}
/*Fv. Def.*/ .form-error {display:none;} .error {animation:bounce 1s; animation-iteration-count:1; -webkit-animation:bounce 1s; -webkit-animation-iteration-count:1; background:#fadcdc !important;} @keyframes bounce {0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 40% {transform: translateY(-10px);} 60% {transform: translateY(-10px);}} @-webkit-keyframes bounce {0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 40% {-webkit-transform: translateY(-10px);} 60% {-webkit-transform: translateY(-10px);}}
@media screen and (max-width: 1365px){.con-nav-lr {background:#3c3c3c; height:5em; left:inherit; margin:0; position:relative; width:100%;} .con-nav-lr .mg-nav-lr {max-width:940px; margin:0 auto;} .con-nav-lr .mg-nav-lr .icon-nav-lr {float:left; height:4.125em; margin:0 0 0 0.5em; width:4.375em;} .con-nav-lr .mg-nav-lr .nav-lr-dk {float:right; margin:0.2em 0 0;} .con-nav-lr .mg-nav-lr .nav-lr-dk li {display:inline;} .con-nav-lr .mg-nav-lr .nav-lr-dk li a {max-width:inherit;} .con-nav-lr .mg-nav-lr .nav-lr-dk li:last-child a {border-bottom:1px dashed #595959;} .con-nav-lr .mg-nav-lr .nav-lr-dk li a h1 {font:1.4em 'Aller-LR'; line-height:1.4;} .infoBlock {left:50%; margin:0 0 0 -470px;} .con-slider {height:35.375em;} .con-slider .mg-slider {height:30.375em; margin:0; position:relative; right:inherit; width:100%;}}
@media screen and (max-width: 939px){.check-bt {top:14.75em;} .con-clients-slider {width:556px;} .con-footer .mg-footer .con-foo-cols .foo-col-ll {width:100%;} .con-footer .mg-footer .con-foo-cols .foo-col-lr {width:100%;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 {padding:0 4% 0 0; width:40%;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 {padding:0 0 0 8%; width:48%;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c4 {margin:0 0 2em; padding:0 0 0 10%; width:40%;} .con-footer .mg-footer .con-foo-copy .foo-copy {float:inherit; max-width:100%;} .con-footer .mg-footer .con-foo-copy .foo-copy p {line-height:1; padding:0.5em; text-align:center;} .con-footer .mg-footer .con-foo-copy .footer-ahorranito {float:inherit; margin:0 auto;} /*.con-nav-lr .mg-nav-lr .nav-lr-dk {display:none;} .con-nav-lr .mg-nav-lr .nav-lr-dv {display:block;}*/ .header-logo {float:inherit; margin:0 auto;} .infoBlock {bottom:1em; left:1em; margin:0;} .infoBlock a {padding:0.8em 1.2em;} .infoBlock h1 {font-size:1em;} .con-slider {height:21em;} .con-slider .mg-slider {height:16em;} .mg-header, .mg-section, .mg-footer, .con-section-slider {padding:0 0.8em;}}
@media screen and (max-width: 739px){#google_translate_element {margin:1em 0 0; /*width:auto;*/} #google_translate_element .skiptranslate.goog-te-gadget span {/*white-space:nowrap !important;*/} .check-bt {position:absolute; top:13.7em;} .con-header .mg-header .con-nav {margin:0 auto;} .con-header .mg-header .con-nav .main-nav {box-shadow:inset 0px 8px 10px -8px rgba(0,0,0,0.5), inset 0px -8px 10px -8px rgba(0,0,0,0.5);  border-top:1px dashed #ececec; border-bottom:1px dashed #ececec; float:inherit; margin:1.2em auto 0; padding:1.2em 0; width:auto;} .con-header .mg-header .con-nav .main-nav {display:none;} .con-header .mg-header .con-nav .nav-lr-dv {display:block;} .con-section .mg-section .con-service .service-info {margin:4%;}}
@media screen and (max-width: 639px){h1.high-tt {font:0.8em 'Lato-L'; line-height:18px; margin:1.5em 0; padding:11px 0 0;} h1.high-tt strong {font:1.8em 'Lato-R'; line-height:40px; margin:-12px 0.4em 0 0;} .con-clients-slider {width:274px;} .con-footer {margin:2em 0 0;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c1 {display:none;} .con-footer .mg-footer .con-foo-cols .foo-col-b .fc-c2 {padding:0; width:100%;} .con-section .mg-section .high-img {width:100%;} .con-section .mg-section .high-tx {float:left; height:auto; margin:1em 0; padding:0; width:100%;} .infoBlock {bottom:inherit; left:0.5em; top:0.5em; margin:0;} .infoBlock a {padding:0.6em 1em;} .infoBlock h1 {font-size:0.8em;} .con-slider {height:18em;} .con-slider .mg-slider {height:13em;}}
@media screen and (max-width: 539px){.check-bt {position:absolute; top:13.7em;} .con-section .mg-section .con-info-pro .con-gal-info, .con-section .mg-section .con-info-pro .con-gal-tx {float:left; width:100%;} .con-section .mg-section .con-pagina a {font-size:0.7em;} .con-header .mg-header .con-nav .main-nav {padding:1.2em 0 0;} .con-header .mg-header .con-nav .main-nav li {box-shadow:1px 0px 0px 0px rgba(255,255,255,1); -webkit-box-shadow:1px 0px 0px 0px rgba(255,255,255,1);float:left; margin:0 0 1em; width:50%;} .con-section .mg-section .con-cats .item-cat {margin:1.5em 1px 0;} .con-section .mg-section .con-cats .item-list {margin:1.5em 1px 0;} .con-section .mg-section .contact-col {float:left; width:100%;} .con-section .mg-section .mg-renta-slider {margin:1em 0; width:100%;} .grl-form input, .grl-form textarea {float:left; width:96%;} .con-map.map-dk {display:none;} .con-map.map-dv {display:block;}}
@media screen and (max-width: 499px){.con-section .mg-section .con-service .service-info img {float:inherit; margin:0 0 1em !important; width:100%;} .con-nav-lr .mg-nav-lr .nav-lr-dk {padding:0;}}
/*─────────────────────────────────/ Site Styles*/