@charset "UTF-8";
/* CSS Document

@media only screen and (max-width: 320px) {/* Styles - --------- ------ ------ ----- 

.dis_none_movil {
	display:none !important;
}
.device_320 {
	width:320px !important;
}
.device_300 {
	width:300px !important;
}
.back_top, .header {
	width:320px !important;
	background-size:100% 100% !important;
}
#logo {
	width:200px !important;
	height:66px !important;
	background-size:100% 100%;
}
.social_header_links {
	display:none;
}
.buttons {
	height:50px !important;
	padding:0px;
}
.button_a {
	font-size:12px;
	height:50px !important;
	line-height:50px;
	background:none !important	;
	padding:0px 5px !important;
}
.div_buttons {
	margin-top:0px;
}
.search_box {
	margin:20px 0px 0px 40px !important;
}
.pad_int_20 {
	padding:10px !important;
}
.login_button {
	width:122px !important;
	margin-left:110px;
	line-height:40px;
	height:40px;
}
.h2_b {
	font-size:20px !important;
}
.box_shadow_big {
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
	background:none !important;
}
.col_e {
	font-size:12px;
	background:none;
}
.ft_1 {
	margin-left:40px !important;
}
.pad_top_mobile {
	padding-top:20px;
}
.col_footer {
	width:140px;
	margin:10px 5px;
}
.col_footer a {
	margin-bottom:5px;
}
.col_footer, .col_footer a {
	font-size:12px !important;
}
.col_footer h3 {
	margin-bottom:5px;
}
.h2_b {
	font-size:20px !important;
	margin-bottom:5px;
}
.h2_des {
	font-size:16px;
	margin-bottom:5px;
}
.pad_bottom_0_mobile {
	padding-bottom:0px !important;
}
.pad_5_mobile {
	padding:10px 5px;
}
.days_left 	{
	text-align: left !important;
	margin-top:5px !important;
	float:none !important;
	clear:both;
}
.h3_black  {
	font-size:18px !important;
}
.h3_purpure {
	font-size:14px;
}

} */