@charset "UTF-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,400italic);
@import url(http://fonts.googleapis.com/css?family=Gudea:400,700);

/* ------- GLobal Styles ----------- */
.clearfix:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
.clear { clear:both; }
::selection {
	background:#b9dd36;  /* Safari */
	color:#fff;
}
::-moz-selection {
	background: #b9dd36; /* Firefox */
}
html, body {
	margin:0px;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	color:#75796f;
	font-family: 'Roboto', sans-serif;
}
.txt p; p {
	font-family: 'Roboto', sans-serif !important;
}


h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	margin-top:0px;
}
.box_shadow h6 span {
	display:none;
}
h2 {
	font-size:27px;
	margin-bottom:10px;
}
a {
	text-decoration:none;
	color:#666;
}
.left {
	float:left !important;
}
.right {
	float:right !important;
}
input:focus {
	outline:none;
}

/*// ------- GLobal Styles ----------- */


.box_a {
	width:1000px;
	margin:0px auto;
}
.box_a2 {
	width:960px;
	margin:0px auto;
}
.header {
	width:1000px;
	height:129px;
	background-image: url(../img/002.png);
	background-repeat:no-repeat;
	background-position:left top;
	margin:0px auto;
}
#logo {
	width:322px;
	height:85px;
	background:url(../img/001.png);
	display:block;
	margin:15px 0px 0px 20px;
	float:left;
}
.back_top {
	background-image:url(../img/003.png);
	background-position:center top;
	background-repeat:no-repeat;
}
.social_header_links {
	float:right;
	margin-top:80px;
}
 #twitter-widget-0 {
	 padding-right:20px;
 }
 .div_line {
	 height:6px;
	 background:url(../img/004.png);
 }
 .div_line_2 {
	 height:6px;
	 background:url(../img/004.png);
	 margin:20px -20px 0px -20px;
 }
 .buttons {
	 width:960px;
	 height:71px;
	 margin:0px auto;
	 padding:2px 20px;
	 font-family: 'Roboto', sans-serif;
}
.button_a {
	height:67px;
	line-height:67px;
	background-image:url(../img/005.png);
	background-repeat:repeat-x;
	background-position:bottom;
	display:block;
	float:left;
	padding:0px 25px;
	margin-right:-2px;
	font-size:16px;
}
.button_a:hover {
	color:#9abd36;
	background-image:url(../img/006.png);
}
.div_buttons {
	border-right: solid 2px #e9e9ea;
    height:50px;
	float:left;
	margin-top:5px;
}
.search_box {
	width:249px;
	height:40px;
	/*background:url(../img/085.png);*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;


	float:left;
	overflow:hidden;
}
.buttons .search_box {
	background-size:100% 100%;
	width:340px;
	margin:10px 0px 0px 20px;
}
.buttons .search_box .search {
	width:280px;
	float:left;
}
.search:focus {
	border:none !important;
}
.go {
	width:20px;
	height:18px;
	background-image:url(../img/008.png);
	background-color:transparent;
	background-repeat:no-repeat;
	cursor:pointer;
	margin:10px 8px;
	border:none;
	float:left;
}
.search {
	width:190px;
	height:36px;
	background-color: transparent;
	border:none;
	float:left;
	font-size:15px;
}
.search:focus {
	outline:none;
}
.under_line {
	background-image:url(../img/005.png);
	background-repeat:repeat-x;
	background-position:bottom;
}
.login_button {
	float:left;
	line-height:65px;
	margin-left:30px;
}
.login_button a:hover {
	color:#9abd36;
}
.info_txt {
	width:100%;
	padding:20px 20px 20px 50px;
}
#slider2 {
	margin:0px auto;
}
.pg .activo {
	color:#00aeef;
	font-weight:bold;
}
.msj_box {
	background:#00aeef;
	color:#fff;
	position:relative;
	border:solid 1px #00aeef;
	-webkit-border-radius:8px;
	-o-border-radius:8px;
	-ms-border-radius:8px;
	-moz-border-radius:8px;
	margin-bottom:20px;
	padding:10px;
}
.msj_box a {
	display:block;
	background-image:url(../fancybox/fancy_close.png);
	width:30px;
	height:30px;
	position:absolute;
	right:-15px;
	top:-15px;
}
.rslides {
	background-image: url(../img/load.gif);
	background-position:center center;
	background-size:45px 45px;
	background-repeat:no-repeat;
}
.relative {
	position:relative !important;
}
.rslides_tabs {
	position:absolute;
	z-index:99;
	bottom:0px;
	right:10px;
	list-style:none;
}
.rslides_tabs li {
	width:22px;
	height:22px;
	float:left;
	margin-right:5px;
	background-image:url(../img/010.png);
}
.rslides_here {
	background-position: 0px -22px!important;
}
.rslides_tabs li a {
	width:22px;
	height:22px;
	overflow:hidden;
	line-height:100px;
	display:block;
}
.wrapper {
	max-width:1000px;
	margin:0px auto;
	background:#ccc;
}
.bt_a {
	font-family: 'Gudea', sans-serif;
	width:1000px;
	height:88px;
	background:url(../img/011.png);	
	line-height:88px;
	text-align:center;
	color:#fff;
	font-size:30px;
	font-weight:200;
	display:block;
}
.bt_a:hover {
	color:#fff !important;
	background-position:bottom center;
}
.bt_a_left {
	font-family: 'Gudea', sans-serif;
	width:459px;
	padding-right:40px;
	float:left;
	height:93px;
	background:url(../img/011.png);	
	line-height:93px;
	text-align:right;
	color:#fff;
	font-size:28px;
	font-weight:200;
	display:block;
}
.bt_a_right {
	font-family: 'Gudea', sans-serif;
	width:459px;
	padding-left:40px;
	float:right;
	height:93px;
	background:url(../img/011.png);
	background-position:right;
	margin-left:2px;
	line-height:93px;
	text-align:left;
	color:#fff;
	font-size:28px;
	font-weight:200;
	display:block;
}
.bt_a:hover, .bt_a_left:hover, .bt_a_right:hover {
	color:#a01f80
}
.box_b {
	width:890px;
	margin:0px auto;
}
.h2_b {
	font-weight:bold;
	font-family: 'Gudea', sans-serif;
	white-space:2px;
}
.h2_b span {
	color:#662d91;
}
.h2_c {
	font-family: 'Gudea', sans-serif;
	color:#662d91;
}

.search_area {
	padding:30px 0px;
}
.search_area div.fancy-select div.trigger {
	height:38px;
	background-size:100% 100%;
}
.fancy-select {
	float:left;
}
.search_area div.fancy-select div.trigger:after {
	top:19px;
}
.search_h2 {
	float:left;
	margin-right:20px;
	margin-top:5px;
}
.h3_line {
	width:828px;
	background-image:url(../img/014.png);
	background-repeat:no-repeat;
	background-position:center center;
	clear:both;
	font-size:20px;
	height:25px;
	line-height:22px;
	margin:0px auto;
	text-align:center;
}
.h3_line_b {
	width:828px;
	background-image:url(../img/014_b.png);
	background-repeat:no-repeat;
	background-position:center center;
	clear:both;
	font-size:20px;
	height:25px;
	line-height:22px;
	margin:0px auto;
	text-align:center;
}
.h3_line:hover, .h3_line_b:hover {
	color:#602483
}
.slides {
	margin-top:30px;
}
.slides_container {
	width:960px;
	margin:0px auto;
}
.slides_container .content {
	width:960px;
	height:510px;
	display:block;
	position:relative;
}
.slides .prev, .slides .next {
	width:22px;
	height:38px;
	position:absolute;
	display:block;
	overflow:hidden;
	line-height:200px;
	top:200px;
}
.pos_data {
	position:absolute;
	width:210px;
	bottom:0px;
}
.form_pop_box .fancy-select {
	margin-bottom:20px;
}
	
.slides .prev {
	left:-20px;
	background-image:url(../img/016.png);
}
.slides .next {
	right:-20px;
	background-image:url(../img/015.png);
}
.project_box {
	background:#fff;
	float:left;
	width:210px;
	height:470px;
	position:relative;
	border:solid 4px #e7e7e7;
	-webkit-border-radius:5px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;
	margin:0px 10px 20px 10px;
	overflow:hidden;
	
	-webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	-moz-box-shadow:    4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	box-shadow:         4px 4px 15px 0px rgba(50, 50, 53, 0.41);
}
.project_box .relative {
	height:470px;
}
.box_min_sh {
	width:270px;
	padding:5px;
	margin:0px auto;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
	
	-webkit-box-shadow: 0px 0px 12px rgba(50, 50, 53, 0.5);
	-moz-box-shadow:   0px 0px 12px rgba(50, 50, 53, 0.5);
	box-shadow:         0px 0px 12px rgba(50, 50, 53, 0.5);
}
.box_min_sh_2{
	width:250px;
	padding:10px;
	margin:0px auto;
	-ms-border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	overflow:hidden;
	
	-webkit-box-shadow: 0px 0px 12px rgba(50, 50, 53, 0.5);
	-moz-box-shadow:   0px 0px 12px rgba(50, 50, 53, 0.5);
	box-shadow:         0px 0px 12px rgba(50, 50, 53, 0.5);
}
.thumbnail_a {
	-ms-interpolation-mode: bicubic;
	-webkit-border-top-right-radius:5px;
	-ms-border-top-right-radius:5px;
	-moz-border-top-right-radius:5px;

	-webkit-border-top-left-radius:5px;
	-ms-border-top-left-radius:5px;
	-moz-border-top-left-radius:5px;
	overflow:hidden;

}
.project_box .title, .project_box .title a {
	font-family: 'Gudea', sans-serif;
	color:#a01f80;
	padding:5px;
	padding-bottom:0px;
	display:block
}
.sticker .title  {
	padding:5px 10px !important;
}
.title:first-letter {
}
#apoyoespecie span {
	display:block;
	float:left;
	width:380px;
	word-break:break-all;
}
.des {
	max-height:52px;
	overflow:hidden;
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	padding:5px 10px;
	color:#75796f !important;
}
/*.des:first-letter {
    text-transform: uppercase;
}*/
.location {
	color:#777477;
	background:url(../img/018.png);
	background-repeat:no-repeat;
	height:15px;
	line-height:16px;
	overflow:hidden;
	padding-left:20px;
	font-size:12px;
	margin:10px 10px 5px 10px;
	font-family: Arial, Helvetica, sans-serif;
}
.line_div_project {
	border-bottom:2px solid #e7e7e7;
	margin-bottom:10px;
}
.percent_icon_box {
	width:32px;
	float: left;
	margin-right:20px;
	margin-bottom:10px;
}
.money_icon_a {
	background-image:url(../img/019.png);
	background-position:top center;
}
.members_icon_a {
	background-image:url(../img/020.png);
	background-position:top center;
}
.shop_icon_a {
	background-image:url(../img/021.png);
	background-position:top center;
}
.percent_circle {
	width:40px;
	height:40px;
	line-height:40px;
	color:#602483;
	font-size:12px;
	text-align:center;
	overflow:hidden;
	background:url(../img/022.png);
}
.icons {
	margin-bottom:5px;
	width:40px;
	height:40px;
}
.ico_desactivado {
	background-position:bottom center !important;
	color:#ccc;
}
.first_precent {
	margin-left:33px;
}

/* bar progress */

.container{
    width:190px;
    border: 1px solid #ddd;
    border-radius: 5px; 
    overflow: hidden;
    display:inline-block;
    margin:0px 10px 5px 10px;
    vertical-align:top;
	background-color:#ededed;
}
.title_percent {
	text-align:left;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
	margin-bottom:10px;
	font-size:12px;
}
.percent_icon_box .desactive {
	background-position:bottom center;
}
.pad_box {
	padding:30px 0px !important;
}

.more_projects {
	margin:30px auto 0px auto;
	cursor:pointer;
}
.barra_porcentaje {
	width:91%;
	height:15px;
	border:solid thin #CCC;
	margin:0px auto 10px auto;
	background:#F3F3F3;
	font-size:12px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	overflow:hidden;
}
.bar {
	background:#95c11f;
	-webkit-border-radius:10px;
	color:#fff;
	padding-right:8px;
	text-align:right;
	padding-left:3px;
	height:16px;
	line-height:14px;
}
.barra_porcentaje2 {
	width:91%;
	height:25px;
	border:solid thin #CCC;
	margin:0px auto 10px auto;
	background:#F3F3F3;
	font-size:12px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	overflow:hidden;
}
.bar2 {
	background:#95c11f;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	color:#fff;
	padding-right:8px;
	height:25px;
	line-height:25px;
	text-align:right;
	padding-left:3px;
}

.liquid_a {
	width:210px;
	height:133px;
	overflow:hidden;
}
.footer {
	width:100%;
	background:#3f3f3f;
	padding:20px 0px;
}
.col_footer {
	float:left;
	width:160px;
	margin:0px 45px;
}
.col_footer h3 {
	color:#00aeef;
}
.col_footer a {
	display:block;
	color:#d6d6d6;
	font-size:14px;
	margin-bottom:2px;
}
.col_footer a:hover {
	color:#9abd36;
}
.foter_social {
	float:left;
	width:80px;
	font-size:11px;
	color:#d6d6d6;
	text-align:center;
}
.ft_1 {
	margin-left:370px;
}
.foter_social a {
	display:block;
	margin-bottom:4px;
}
.foter_social:hover {
	margin-top:-4px;
}
.by {
	padding:0px 10px;
	margin-bottom:3px;
	font-size:11px;
	color:#666;
	font-style:italic;
	list-style:square;
	font-family:Arial, Helvetica, sans-serif;
}
.resumen {
	padding-top:8px;
	padding-bottom:5px;	
}
.data_project_min {
	padding-left:0px;
	margin:0px;
	list-style:square;
}
.ingresar {
	-webkit-border-radius:5px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;

	-webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	-moz-box-shadow:    4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	box-shadow:         4px 4px 15px 0px rgba(50, 50, 53, 0.41);

	width:260px;
	padding:10px 0px;
	background-size:30% 100%;
	margin:10px 0px;
}
.int_pad {
	padding:0px 20px 10px 20px;
}
.h5 {
	font-weight:bold;
	font-size:16px;
	color:#333;
}
.font_12 {
	font-size:14px;
}
.font_17  {
	font-size:17px;
}
.input_a {
	/* background: url(../img/030.png) no-repeat;*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;


	width:204px;
	height:36px;
	font-size:14px;
	margin-bottom:15px;
	padding:0px 10px;
}
.input_d {
	/* background: url(../img/044.png) no-repeat;*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

	width:82px;
	height:31px;
	font-size:14px;
	margin-bottom:15px;
	padding:0px 10px;
}
.input_e {
	/* background: url(../img/047.png) no-repeat;*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;


	width:153px;
	height:36px;
	font-size:14px;
	margin-bottom:15px;
	padding:0px 10px;
}
div.tagsinput span.tag, .tagsinput div {
	margin:5px !important;
}
.input_c {
	background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

	width:577px !important;
	font-size:14px;
	height:36px;
	padding:0px 10px !important;
	margin-bottom:15px;
}
.tagsinput {
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;


	width: 577px !important;
	height: 73px !important;
	/*background-image: url(../img/043.png) !important;*/
	padding: 10px 10px 0px 10px !important;
	margin-bottom: 10px !important;
}
.input_f {
	/*background: url(../img/048.png) no-repeat;*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;


	width:345px;
	height:36px;
	font-size:14px;
	border:none;
	margin-bottom:15px;
	padding:0px 10px;

}
.input_j {
	/*background: url(../img/033.png);*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

	width:325px;
	height:36px;
	font-size:15px;
	margin-bottom:20px;
	padding:0px 10px;
}

.input_g {
	/*background: url(../img/049.png) no-repeat;*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

	width:163px;
	height:36px;
	font-size:14px;
	margin-bottom:15px;
	padding:0px 10px;
}
.input_h {
	/*background: url(../img/050.png) no-repeat;*/
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;


	width:90px;
	height:36px;
	font-size:14px;
	margin-bottom:15px;
	padding:0px 5px;

}
.fancy-select {
	border:solid 1px #fff;
	margin-top:-1px;
	margin-left:-1px;
}
/*input[type=text]:focus {
	border:solid 1px #a01f80 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}*/
.search_area div.fancy-select {
	height:40px !important;
}
.errorform, .input_a:focus, .texarea_1:focus, .input_b:focus, .input_c:focus, textarea:focus, .input_d:focus, .input_e:focus, .input_f:focus, .input_g:focus, .input_h:focus {
	border:solid 1px #a01f80 !important;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

}
h4 {
	font-size:17px;
}
.label {
	font-size:14px;
	margin-bottom:5px;
}
.label span {
	color:#7f3f98;
}
.link_a {
	color:#00aeef;
	margin-bottom:5px;
}
.link_a:hover, .link_b:hover {
	text-decoration:underline;
}
.link_b {
	color:#00aeef;
	font-size:16px;
	margin-bottom:5px;
}
.postula_bt {
	background-image:url(../img/086.png) !important;
	background-position:bottom;
	color:#fff !important;
}
.postula_bt:hover {
		color:#fff !important;
	background-position:top !important;
}

.recordarme, .verde_bt, .verde_bt2, .verde_bt3 {
	float:right;
	height:12px;
	background:no-repeat  url(../img/031.png);
	background-position:left top;
	font-size:13px;
	padding-left:15px;
	line-height:10px;
	cursor:pointer;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.verde_bt2 span {
	color:#3CF;
}
.recordarme:hover, .verde_bt:hover, .verde_bt2:hover, .verde_bt3:hover  {
	text-decoration:underline;
}
.active_recordarme {
	background-position:bottom left;
}
.bt_green3 {
	border:none;
	cursor:pointer;
	background-color:transparent;
	background:url(../img/032.png);
	background-size:100% 100%;
	width:100px;
	height:32px;
	line-height:32px;
	text-decoration:none !important;
	display:block;
	text-align:center;
	color:#fff;
	margin:0px auto;
	font-size:14px;
}
.bt_green {
	text-decoration:none !important;
	cursor:pointer;
	border:none;
	background-color:transparent;
	background:url(../img/032.png);
	width:226px;
	height:42px;
	line-height:42px;
	display:block;
	text-align:center;
	color:#fff;
	margin:0px auto;
	font-size:18px;
}
.bt_green2 {
	text-decoration:none !important;
	border:none;
	background-color:transparent;
	background:url(../img/070.png);
	width:327px;
	height:54px;
	line-height:54px;
	display:block;
	text-align:center;
	color:#fff;
	margin:0px auto;
	font-size:19px;
}
.bt_green:hover {
	text-decoration:underline;
}
.col_a {
	float:left;
	width:300px;
	margin-left:20px;
}
.col_b {
	float:right;
	width:650px;
	margin-right:20px
}

div.tagsinput:focus {
	outline:solid 1px #a01f80 !important;
}

.box_shadow {
	background-image:url(../img/038.png);
	background-repeat:repeat-x;
	background-position:bottom;
	width:650px;

	-webkit-border-radius:5px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;

	-webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	-moz-box-shadow:    4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	box-shadow:         4px 4px 15px 0px rgba(50, 50, 53, 0.41);
}
.box_shadow2 {
	background-image:url(../img/068.png);
	background-repeat:repeat-x;
	background-position:bottom;
	width:100%;
	border:solid 4px #eaeaea;

	-webkit-border-radius:5px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;
}
.box_shadow2 .right logo_fundacion {
	margin-top:0px;
}
.box_shadow3 {
	display: block;
	background-image:url(../img/038.png);
	background-repeat:repeat-x;
	background-position:bottom;
	width:90%;
	margin-bottom:20px;

	-webkit-border-radius:5px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;
	border:solid 1px #D5D5D5;

	-webkit-box-shadow: 4px 4px 8px 0px rgba(50, 50, 53, 0.41);
	-moz-box-shadow:    4px 4px 8px 0px rgba(50, 50, 53, 0.41);
	box-shadow:         4px 4px 8px 0px rgba(50, 50, 53, 0.41);
}
.box_shadow_big {
	background-image: url(../img/068.png);
	background-repeat:repeat-x;
	background-position:bottom;
	width:950px;
	margin:0px auto 30px auto;

	-webkit-border-radius:5px;
	-ms-border-radius:10px;
	-moz-border-radius:10px;

	-webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	-moz-box-shadow:    4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	box-shadow:         4px 4px 15px 0px rgba(50, 50, 53, 0.41);
}
.col_int_b_1 {
	float:left;
	padding:20px;
	width:263px;
}
.input_b {
		background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

	width:244px;
	height:36px;
	border:none;
	font-size:15px;
	margin-bottom:20px;
	padding:0px 10px;
}
.data_x1 {
	line-height:36px;
	margin-bottom:20px;
	height:36px;
	width:244px;
}
.h3_b {
	font-size:15px;
	margin-top:0px;
	margin:9px 0px;
}
.requiered {
	color:#a01f80;
}
	
	/*
 * customRadioCheck: jQuery plugin for checkbox and radio replacement
 * Usage: $('input[type=checkbox], input[type=radio]').customRadioCheck();
 * Author: Cedric Ruiz
 * License: MIT
*/
.custom-label {
  display: inline-block;
  cursor: pointer;
}
.custom-radio {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -.15em; /* Adjust to for best fit */
    width: 20px;
    height: 20px;
    background: url(../img/customRadioCheck.png) 0 0 no-repeat;
}
.custom-check {
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -.15em; /* Adjust to for best fit */
    margin: 0 .4em;
    width: 17px;
    height: 16px;
    background: url(../img/037.png) 0 0 no-repeat;
}
.custom-radio { background-position: 0 -20px; }
.custom-check.focus { background-position: 0px 0px; }
.custom-radio.focus { background-position: -20px -20px; }
.custom-check.checked { background-position: 0px -16px; }
.custom-radio.checked { background-position: -40px -20px; }
.custom-check.checked.focus { background-position: 0px -16px; }
.custom-radio.checked.focus { background-position: -60px -20px; }

.custom2-radio,
.custom2-check {
	cursor:pointer;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    top: -.15em; /* Adjust to for best fit */
    width:42px;
    height:36px;
    background: url(../img/034.png) 0px 0px;
}
.custom2-radio.focus { background-position: 0px -36px;}
.custom2-radio.checked { background-position: 0px -36px;}
.custom2-radio.checked.focus { background-position: 0px -36px;}

.rr span {
    background: url(../img/035.png) 0px 0px !important;
}
.rr .custom2-radio.checked { background-position: 0px -36px !important}


.pad_box_10 {
	padding:20px 25px;
}
.link_box_right {
	padding:10px;
}
.m_20_bottom {
	margin-bottom:20px;
}
.paso_paso {
	position:relative;
	padding:20px;
	width:960px;
	height:50px;
	margin:0px auto;
}
.txt_reglamento {
	width:890px;
	padding:10px 20px;
	margin:0px auto;
}
.step {
	display:block;
	color:#666;
	float:left;
	font-size:16px;
	line-height:50px;
	position:absolute;
	height:50px;
	background:url(../img/036.png) top left; 
}
#s1 {
	z-index:10;
	width:125px;
	padding-left:30px;

}
#s2 {
	width:105px;
	padding-left:50px;
	z-index:9;
	left:152px;
}
#s3 {
	width:105px;
	padding-left:50px;
	z-index:8;
	left:285px;
}
#s4 {
	width:115px;
	padding-left:40px;
	z-index:7;
	left:420px;
}
#s5 {
	width:105px;
	padding-left:50px;
	z-index:6;
	left:550px;
}
#s6 {
	width:105px;
	padding-left:50px;
	z-index:5;
	left:680px;
}
#s7 {
	width:120px;
	padding-left:35px;
	z-index:4;
	left:810px;
}


#s5paso2 {
	width:105px;
	padding-left:50px;
	z-index:6;
	left:550px;
}
#s6paso2 {
	width:105px;
	padding-left:50px;
	z-index:5;
	left:680px;
}
.step_active, .step:hover {
}
.big_box {
	width:960px;
	padding:20px;
}
h4 {
	color:#7f3f98;
	margin-bottom:0px;
}
.txt {
	font-size:15px;
}
p {
	margin-top:0px;
}
.list {
	padding:0px;
	margin:0px;
	padding-left:15px;
}
.label_inputs {
	cursor:pointer;
}
.label_inputs:hover {
	color:#7f3f98;
	text-decoration:underline;
}
.boton_a {
	width:153px;
	color:#666;
	height:42px;
	border:none;
	background-color:transparent;
	text-align:center;
	line-height:42px;
	font-size:16px;
	cursor:pointer;
	background-image:url(../img/039.png);
}
.boton_c {
	width:153px;
	height:42px;
	border:none;
	background-color:transparent;
	text-align:center;
	line-height:38px;
	font-size:16px;
	color:#666;
	cursor:pointer;
	background-image: url(../img/053.png);
	background-position:bottom;
}
.boton_c:hover {
	color:#333;
	color:#fff;
	background-position:top;
}
.boton_a:hover, .boton_a_activo {
	background-position:0px -42px !important;
	color:#fff !important;
}
.boton_b {
	width:100px;
	height:42px;
	border:none;
	background-color:transparent;
	text-align:center;
	line-height:42px;
	font-size:16px;
	cursor:pointer;
	background-image: url(../img/052.png);
}
.boton_b:hover {
	background-position:0px -42px;
	color:#fff;
}
.box_c {
	width:600px;
	float:left;
	font-size:14px;
	padding:20px;
}
h6 {
	font-size:18px;
	margin-bottom:10px;
	color:#111;
}
h6 span {
	color:#a01f80;
}
.div_green {
	background-image:url(../img/041.png);
	width:613px;
	height:20px;
	margin-left:13px;
}
.col_c {
	margin-left:20px;
	float:left;
	width:660px;
}
textarea {
	font-size:14px;
	font-family: 'Roboto', sans-serif;
}
.texarea_1 {
	width:577px;
	height:73px;
			background-color: #ededed !important;
	border:solid 1px #c6c4c5 !important;
	-webkit-border-radius: 5px ;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;

	/*background-image:url(../img/043.png);*/
	padding:10px 10px 0px 10px;
	margin-bottom:10px;
}
.col_int_box_c {
	width:50%;
}
.less_2:hover, .add_2:hover {
	text-decoration:underline;
}
.add_2 {
	display: block;
	background-image:url(../img/045.png);
	background-size:25px 25px;
	height:26px;
	line-height:26px;
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:30px;
	color:#00aeef;
	margin-bottom:5px;
}
.less_2 {
	margin-bottom:5px;
	display: block;
	background-image:url(../img/046.png);
	background-size:25px 25px;
	height:26px;
	line-height:26px;
	background-repeat:no-repeat;
	background-position:left center;
	padding-left:30px;
	color:#00aeef;
	float:left;
	margin-right:4px;
}
.edit {
	height:26px;
	width:20px;
	float:left;
	overflow:hidden;
	background:url(../img/edit.png);
	background-repeat:no-repeat;
	line-height:26px;
}
.edit:hover {
	background-color:transparent !important;
}
.col_a_especie {
	margin-right:9px;
	width:183px;
}
.col_b_especie {
	width:100px;
	margin-right:8px;
}
.col_c_especie .input_h {
	width:98px !important;
	background-size:100% 100%;
	
}
.rounded_img {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.form_pop_box {
	width:253px;
	margin:0px auto;
}
.txt_aclara {
	margin-bottom:50px;
}
.text_area_big {
	background-color:#ededed;
	border:solid 1px #c6c4c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	padding:10px 20px;
	width:560px;
	margin-bottom:10px;
	height:150px;
}
.text_area_small {
	background-color:#ededed;
	border:solid 1px #c6c4c5;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	padding:10px 20px;
	width:500px;
	margin-bottom:10px;
	height:150px;
}
.col_d {
	width:250px;
	float:right;
}
.mar_right {
	margin-right:0px;
}
.fixed_button {
	position:static !important;
    margin-top:2800px !important;
}
.fixed_button_basicos {
	position:static !important;
    margin-top:3330px;
}
.edicion .fixed_button_basicos {
	position:static !important;
    margin-top:3010px !important;
}
.fixed_button_history {
	position:static !important;
    margin-top:1980px !important;
}
.fixed_button_gestores {
	position:static !important;
    margin-top:1700px !important;
}
.fixed_button_cuenta {
	position:static !important;
    margin-top:507px !important;
}
.spacer {
	height:20px;
}
.list_2 {
	padding-left:25px;
}
.list_2 li {
	margin-bottom:5px;
}
.h2_des {
	font-weight:bold;
	font-family: 'Roboto', sans-serif;
	color:#1c75bc;
	font-size:23px;
}
.pad_int_20 {
	padding:20px;
}
.col_e {
	width:590px;
	background-image: url(../img/059.png);
	background-repeat:repeat-y;
	background-position:right;
	float:left;
	font-size:14px;
}
.col_f {
	float:right;
	width:320px;
}
.description_project {
	margin:20px 0px;
}
.description_project p {
	line-height:25px;
}
.h3_black {
	color:#000;
}
.h3_purpure {
	font-size:18px;
	margin-bottom:5px;
	color:#7f3f98;
	font-weight:bold;
	font-family: 'Gudea', sans-serif;
}
.logo_fundacion {
	text-align: center;
	margin-bottom:10px;
	margin-top:15px;
}
.logo_fundacion img {
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}
.dato {
	padding:0px 10px;
	text-align: center;
	font-size:12px;
	margin-bottom:4px;
	color:#777477;
}
.dato a {
	font-size:13px;
}
.dato b {
	font-size:13px;
	color:#000;
}
.h3_c {
	font-family: 'Gudea', sans-serif;
	font-weight:bold;
	font-size:18px;
}
.estado {
	font-family: 'Gudea', sans-serif;
	font-weight:bold;
	font-size:16px !important;
	padding-left:20px;
}
.estado span {
	color:#662d91;
}
.active_point {
	padding-right:15px;
	height:20px;
	line-height:18px;
	background:url(../img/061.png) no-repeat right center;
}
.cerrado_point {
	padding-right:15px;
	height:20px;
	line-height:18px;
	background:url(../img/092.png) no-repeat right center;
}
.rechazado_point {
	padding-right:15px;
	height:20px;
	line-height:18px;
	background:url(../img/094_b.png) no-repeat right center;
}
.cancelado_point {
	padding-right:15px;
	height:20px;
	line-height:18px;
	background:url(../img/094.png) no-repeat right center;
}
.fancybox-inner .col_line_right {
	min-height:250px;
}
.p_pendiente {
	padding-right:13px;
	background:url(../img/090.png) no-repeat right;
}
.p_noterminado {
	padding-right:13px;
	background:url(../img/091.png) no-repeat right;
}
.p_cerrado {
	padding-right:13px;
	background:url(../img/092.png) no-repeat right;
}
.p_revisado {
	padding-right:13px;
	background:url(../img/093.png) no-repeat right;
}
.p_rechazado {
	padding-right:13px;
	background:url(../img/094.png) no-repeat right;
}

.tit {
	text-align:center;
	font-family: 'Gudea', sans-serif;
	font-weight:bold;
	font-size:23px;
	text-align:center;
	margin-bottom:10px;
}
.img_icon {
	text-align:center;
	margin-bottom:10px;
}
.cat {
	font-size:12px;
	color:#fff;
	background:#666;
	padding:3px 10px;
}
.pic_project {
	width:226px;
	padding:10px;
	height:145px;
	background-image:url(../img/066.png);
	background-repeat:no-repeat;
	background-position:center center;
}
.pic_project img {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}
.pic_project a {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}
.line_right {
background-image: url(../img/059.png);
background-repeat: repeat-y;
background-position: right;
}
.des_project_int_mis_proyectos {
	padding-top:10px;
}
.txt_des {
	margin-top:10px;
	overflow:hidden;
	max-height:80px;
}
.city {
	margin-top:5px;
	color:#a01f80;
}
.box_margin {
	margin-bottom:30px;
}
.prev2 {
	background: url(../img/071.png);
	width:34px;
	height:34px;
	display:block;
	margin:0px 5px;
}
.prev {
	background: url(../img/073.png);
	width:34px;
	height:34px;
	display:block;
	margin:0px 5px;
}

.next2 {
	background: url(../img/072.png);
	width:34px;
	height:34px;
	display:block;
	margin:0px 5px;
}
.next {
	background: url(../img/074.png);
	width:34px;
	height:34px;
	display:block;
	margin:0px 5px;
}
.pg {
	width:auto;
	margin:20px auto 0px auto;
}
.pg .left {
	height:34px;
	display:block;
	line-height:34px;
}
.pg .num a {
	display:block;
	float:left;
	margin:0px 10px;
}
.tooltip {
    display:none;
    background: #fff;
	border:thin 1px #ccc;
    font-size:12px;
    padding:10px;
    color:#662d91;
	position:relative;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	max-width:250px !important;
	margin-top:-10px;
	
	-webkit-box-shadow: 4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	-moz-box-shadow:    4px 4px 15px 0px rgba(50, 50, 53, 0.41);
	box-shadow:         4px 4px 15px 0px rgba(50, 50, 53, 0.41);
}
.tool {
	margin-left:5px;
	color: #369 !important;
	cursor:pointer;
}
.title_my_projects {
	width:255px;
}
.edit2 {
	padding:3px 5px;
	background:#ccc;
	margin-right:5px;
	font-size:11px;
	font-family:Arial, Helvetica, sans-serif;
}
.edit:hover {
	background-color:#999;
	color:#fff;
}
.profile {
	background-image:url(../img/078.png);
	background-repeat:no-repeat;
	background-position:right center;
	height:32px;
	padding-right:40px;
	line-height:32px;
	position:absolute;
	right:10px;
	top:-200px;
	cursor:pointer;
}
.profile:hover a, .profile:hover  {
	color:#00aeef;
}
.b1000 {
	width:1000px;
	margin:0px auto;
}
.name_id {
	color:#00aeef;
	text-align:right;
	display:block;
	padding-bottom:10px;
}
.name_id:hover {
	color:#333;
}
.menu_profile {
	display:none;
	margin-right:-40px;
	position:relative;
	z-index:9999;
	margin-top:-6px;
	-webkit-border-radius:4px;
	background-color:#00aeef;
	-webkit-box-shadow: 4px 4px 4px 0px rgba(50, 50, 53, 0.2);
	-moz-box-shadow:    4px 4px 4px 0px rgba(50, 50, 53, 0.2);
	box-shadow:         4px 4px 4px 0px rgba(50, 50, 53, 0.2);
}
.menu_profile a {
	color:#fff !important;
	display:block;

	padding:5px 15px;
}
.days_left {
	float:right;
}
.arrow_blue {
	background-image:url(../img/079.png);
	width:20px;
	height:6px;
	position:absolute;
	top:-6px;
	right:10px;
}
.menu_profile a:hover {
	background-color:#31c9f7;
}
.txt_user {
	font-size:13px;
}
.col_line_right {
	background-image: url(../img/059.png);
	background-repeat: repeat-y;
	background-position: right;
	padding:20px 20px 20px 10px;
}
.share {
	padding:10px 0px;
}
.link_apoya:hover .state {
	background:#f6f6f6;
}
.tags_project {
	color:#1c75bc;
	margin-top:20px;	
}
.tags_project span {
	padding:4px 6px;
	display:block;
	float:left;
	color:#fff;
	margin-right:5px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	-ms-border-radius:4px;
	-o-border-radius:4px;
	background-color: #24aadf;
}
.tags_project span a {
	color:#fff;
}
.txt_box_min {
	font-size:12px;
}
.h3_box_min {
	color:#231f20;
	font-size:18px;
}
.line_color {
	height:4px;
	background-color:#F30;
	margin-top:10px;
	margin-bottom:5px;
}
.color2 {
	background-color:#3CF !important;
}
.h4_pregunta  a {
	margin-bottom:4px;
	color:#1c75bc;
	font-size:13px;
}
.icon_apoya {
	float: right;
	background-image:url(../img/063.png);
	width:75px;
	height:75px;
	display:block;
}
.icon_apoya_2 {
	float: right;
	background-image:url(../img/064.png);
	width:75px;
	height:75px;
	display:block;
}
.icon_apoya_3 {
	float: right;
	background-image:url(../img/065.png);
	width:75px;
	height:75px;
	display:block;
}
.money {
	color:#8dc63f;
	font-size:44px;
	padding-right:5px;
	line-height:34px;
}
.cantidad {
	margin-left:10px;
	color:#515151;
	font-size:32px;
}
.cantidad span {
	line-height:4px;
	color:#7f3f98;
	font-size:17px;
}
.h2_azul {
	color:#1c75bc;
	font-size:27px;
}
.contribuir_box {
	padding-bottom:20px;
}
.min_h_900 {
	min-height:900px;
}
.visible_mobile {
	visibility:hidden;
}
.donacion_valor {
	height:75px;
	line-height:95px;
	font-size:25px;
	color:#515151;
	font-family: 'Gudea', sans-serif;
	text-align:right;
}
.donacion_valor span {
	color:#602483;
	font-size:41px;
}
.span2 {
	color:#515151 !important;
	font-size:35px !important;
	line-height:36px !important;
}
.donacion_valor a {
	color:#00aeef;
	font-size:16px;
}
.donacion_valor a:hover {
	text-decoration:underline;
}

.info_data {
	float:left;
	width:260px;
	margin-right:20px;
	margin-bottom:25px;
}
.label_data {
	color:#602483;
	font-size:17px;
	margin-bottom:2px;
}
.data_user {
	color:#6d6e71;
	font-size:15px;
}
.col_g {
	padding-top:10px;
}
.box_shadow_big .col_g {
	padding-top:0px !important;
	padding-left:10px;
	border-left:solid 1px #ccc;
}
.acept_box {
	clear:both;
	padding-top:20px;
	font-size:18px;
	margin-bottom:40px;
	padding-left:32%;
}
.acept_box .verde_bt2 {
	font-size:14px;
	float:left;
	line-height:14px;
}
.acept_box .terms {
	float:left;
	font-size:14px;
	line-height:14px;
	margin-left:4px;
	color:#3CF !important;
	text-decoration:underline;
	display:block;
}
#terminos_cond {
	width:650px;
}
#terminos_cond {
	font-size:13px;
}
.div_span {
	display: inline !important;
}
.h2_c_span {
	font-size:21px !important;
	color:#75796f !important;
}
.h3_b {
	color:#000000;
	font-size:23px;
}
.pad_int_5 {
	padding:5px !important;
}
.box_shadow3 {
	line-height:20px;
	font-size:13px;
}
.txt_voluntario {
	overflow:auto;
	margin-top:20px;
	height:150px;
	padding-right:20px;
}
.apply, .apply2 {
	width:100px;
	display:block;
	height:21px;
	line-height:21px;
	font-size:13px;
	background-repeat:no-repeat;
	background-image:url(../img/082.png);
	background-position:0px 0px !important;
	padding-left:30px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
a {
		-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.no_apply {
	background-repeat:no-repeat;
	background-image:url(../img/082.png);
	background-position:0px -21px !important;
}
.no_apply, .no_apply2 {
	width:100px;
	display:block;
	color:#00aeef;
	height:21px;
	line-height:21px;
	font-size:13px;
	background-repeat:no-repeat;
	background-image:url(../img/082.png);
	background-position:0px -21px;
	padding-left:30px;
	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.apply:hover, .no_apply:hover {
	text-decoration:underline;
}
.active_box_green {
	background-color:#23da01;
	position:absolute;
	width:20px;
	display:none;
	height:230px;
	top:15px;
	right:-22px;
	-webkit-border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;

	-moz-border-top-right-radius:10px;
	-moz-border-bottom-right-radius:10px;
}
.mr_10 {
	margin:0px 10px 0px 60px;
}
.table_ayuda td {
	border-bottom:solid thin #ccc;
	padding:4px 2px;
}
.table_ayuda_div {
	padding-right:20px;
	max-height:150px;
	overflow:auto;
}
.paquete_valor {
	padding-top:20px;
	float:right;
}
.h2_verde {
	font-family: 'Gudea', sans-serif;
	color:#39b54a;
}
.h2_verde span {
	color:#58595b;
	font-size:18px;
}
.delete {
	background-image:url(../img/083.png);
	width:20px;
	cursor:pointer;
	height:19px;
	display:block;
	float:right;
}
.over_box {
	background-color:#f7f7f7;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
}
.over_box:hover {
	background-color:#f3f3f3;
}
.col_middle {
	width:650px;
	margin:0px auto;
}
.change_pass a {
	margin-top:20px;
	display:block;
	color: #39C;
}
.change_pass a:hover {
	text-decoration:underline;
}
#cambiar_pass {
	padding:20px;
}
#cambiar_pass input {
	margin-bottom:20px !important;
}
#cambiar_pass input[type=submit] {
	margin-top:10px;
}
.form_ax1 div.fancy-select div.trigger {
	width:223px;
	margin-bottom:20px;
}
.estadisticas_bt {
	display:block;
	cursor:pointer;
}
.loading {
	width:210px;
	height:133px;
	background:#fff;
	z-index:99;
	position:absolute;
	display:none;
}
.loading img {
	width:40px;
	height:40px;
	margin-top:40px;
	margin-left:85px;
}
.project_ref {
	margin:0px auto 20px auto;
	width:900px;
	position:relative;
}
.over_project_ref {
	display:none;
	width:100%;
	height:100%;
	background:#fff url(../img/068.png) bottom repeat-x;
	z-index:9;
	position:absolute;
}
.estadisticas_bt {
	background:url(../img/089.png);
	color:#fff;
	width:105px;
	height:25px;
	line-height:25px;
	font-size:14px;
	cursor:pointer;
	text-align: center;
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
margin:20px auto 0px auto;
}
.col_ref .volver {
	cursor:pointer;
	position:absolute;
	z-index:2;
	background:#602483;
	padding:4px 5px;
	-webkit-border-radius:5px;
	color:#fff;
	font-weight:bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	top:10px;
	left:10px;
}
.col_ref {
	float:left;
	height:300px;
	width:300px;
}	
.col_ref .img_icon {
	margin-top:30px;
	height:75px;
	overflow:hidden;
}
.monto {
	background:#54ae5b ;
	border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	text-align:center;
	width:240px;
	height:50px;
	margin:0px auto;
	font-size:20px;
	line-height:50px;
}
.monto span {
	font-size:14px;
	line-height:35px;
}
.col_ref .h2_b {
	padding:0px 10px;
	font-size:18px;
	font-weight:bold;
}
.apoyos {
	padding:5px 10px;
}
.apoyos td {
	padding:2px;
}
.total td {
	padding:2px;
	border-top:solid 1px #666;
}
.project_ref .data_fundacion .dato {
	width:235px;
	word-break:break-all;
}
.project_ref .data_fundacion .dato b {
	word-break:break-all;
	font-weight:normal;
}
#wrapper {
	width:250px;
	margin-left: auto;
	margin-right: auto;
}
.accordionButton {	
	width:250px;
	color:#1c75bc;
	margin-bottom:4px;
	float: left;
	_float: none;  /* Float works in all browsers but IE6 */
	border-bottom: 1px solid #FFFFFF;
	cursor: pointer;
}
.accordionContent {	
	width:250px;
	float: left;
	padding-bottom:10px;
	_float: none; /* Float works in all browsers but IE6 */
}
.on {
}	
.over {
	color: #662d91;
}
.alert_no {
	background:#C36;
	border:solid 1px #D66341;
	-webkit-border-radius:5px;
	width:90%;
	color:#fff;
	font-size:20px;
	margin:40px auto 0px auto;
	padding:10px;
}
#inline2 .col_line_right {
	min-height:260px;
}
.ver_actual {
	margin-top:-10px;
	margin-bottom:10px;
}
.ver_actual a {
	color:#3CC;
	font-size:13px;
}
.banda {
	font-size:11px;
	position:absolute;
	right:0px;
	padding:2px 3px 2px 6px;
	z-index:9;
	color:#fff;
}
.project_box .bnd1 {
	background-color: #FC0;
	top:114px;
	left:0px;
	width:40px;
}
.project_box .bnd2 {
	background-color:red;
	top:0px;
	right:0px !important;
}
.project_box .bnd3 {
	background-color: #333;
	color:#fff;
	top:114px;
}
.dato a {
	color:#27aae1
}
.title_tab {
	font-weight:bold;
}
.img_detalle_big {
	height:auto !important;
	position:relative;
}
.img_detalle_big .banda {
	font-size:14px;
	padding-right:20px;
	opacity:0.9;
	height:20px;
	line-height:20px;
}
.img_detalle_big .bnd3 {
	background-color: #F03;
	bottom:10px !important;
}
.img_detalle_big .bnd2 {
	bottom:38px !important;
	right:0px !important;
	left:auto !important;
	background-color:#6C3;
}
.img_detalle_big .bnd1 {
	background-color: #FC0;
	bottom:67px !important;
}
.ico_big_desactivado img {
	margin-top:-75px;
}
.box_min_sh .img_icon {
	height:75px;
	overflow:hidden;
}
.pic_project {
	overflow:hidden;
}
input[type='file'] {
/*  color: transparent;    /* Hides your "No File Selected" */
}
.span_ver {
	font-size:12px;
}
.link_ver {
	color:#0CF;
}
.visible_500 {
}
.table1 div.fancy-select div.trigger {
	width:100px !important;
	text-align:center;
}

.table1 div.fancy-select ul.options {
	width:150px !important;
	min-width:150px !important;
	max-width:150px !important;
	text-align:center;
}
.line_none .div_line_2 {
	display:none;
}
#tags_1_tagsinput {
	overflow:auto;
}
.justify {
	text-align: justify;
}
#slider4 img {
	height:100px !important;
}
.cantidad_paquetes div.fancy-select div.trigger {
	width:132px !important;
	background-color:#fff !important;
}
.cantidad_paquetes div.fancy-select ul.options {
	min-width:148px !important;
	max-width:148px !important;
}
.cantidad_paquetes .options li, .cantidad_paquetes .trigger {
	text-align:center;
}
.ico_desactivado {
	line-height:200px;
	overflow:hidden;
}
.social_header_links {
	display:none !important;
}
/* **********************************************************************************************************************
 EXTRA STYLES 
************************************************************************************************************************/
/* @media only screen and (min-width: 320px) and (max-width: 480px) {
	body, html {
		width:320px;
		overflow-x:hidden;
	}
.dis_none_movil {
	display:none;
}
.clear_mobile {
	display:block;
	clear:both;
}
.col_footer {
	text-align:center;
}

.device_320 {
	width:320px;
}
.profile {
	top:-235px;
	font-size:11px;
}
.img_detalle_big .bnd3 {
	top:196px !important
}
.img_detalle_big .bnd1 {
	top:144px !important;
}
.img_detalle_big .bnd2 {
	top:170px !important;
}
.img_detalle_big .banda {
	font-size:11px;
	height:16px !important;
	line-height:16px !important;
}
.mr_mobile {
	margin-left:8px;
	margin-bottom:10px;
}
.h_mobile {
	padding-bottom:20px;
}
.h2_b {
	font-size:24px !important;
}
.search_box {
	overflow:visible;
}
.buttons .search_box {
	float:none !important;
	width:280px !important;
	clear: both;
}
.search {
	width:150px !important;
}
.device_300 {
	width:300px;
}
.device_250 {
	width:250px;
}
.device_230 {
	width:230px;
}
.back_top, .header {
	width:320px;
	background-size:100% 100%;
}
.col_line_right {
	background:none;
}
#logo {
	width:200px;
	height:66px;
	background-size:100% 100%;
}
.social_header_links {
	display:none;
}
.buttons {
	padding:0px;
	margin-bottom:60px;
}
.button_a {
	font-size:12px;
	height:50px;
	line-height:50px;
	background:none !important;
	padding:0px 5px;
}
.div_buttons {
	margin-top:0px;
}

.pad_int_20 {
	padding:10px;
}
.login_button {
	width:122px;
	margin-left:110px;
	line-height:40px;
	height:40px;
}
.h2_b {
	font-size:20px;
}
.box_shadow_big {
	-webkit-box-shadow:none;
	box-shadow:none;
	background:none;
}
.col_e {
	font-size:12px;
	background:none;
}
.ft_1 {
	margin-left:20px !important;
}
.pad_top_mobile {
	padding-top:20px;
}
.col_footer {
	width:140px;
	margin:10px 5px;
}
.col_footer a {
	margin-bottom:5px;
}
.col_footer, .col_footer a {
	font-size:12px;
}
.col_footer h3 {
	margin-bottom:5px;
}
.h2_b {
	font-size:20px;
	margin-bottom:5px;
}
.h2_des {
	font-size:16px;
	margin-bottom:5px;
}
.pad_bottom_0_mobile {
	padding-bottom:0px;
}
.pad_5_mobile {
	padding:10px 5px;
}
.days_left 	{
	text-align: left;
	margin-top:5px;
	float:none;
	clear:both;
}
.h3_black  {
	font-size:18px;
}
.h3_purpure {
	font-size:14px;
}
.min_h_900 {
	min-height:100px;
	margin-bottom:20px;
	margin-top:-10px;
}
.icon_apoya {
	width:40px;
	height:40px;
	background-size:100% 100%;
}
.h2_azul {
	font-size:18px;
}
.cantidad {
	float:left;
	font-size:15px;
	clear:both;
	margin-left:30px;
	margin-top:10px;
}
.money {
	font-size:30px;
}
.pad_top_10_mobile {
	padding-top:0px;
}
.margin_bottom_20_mobile {
	margin-bottom:20px;
}
.visible_mobile {
	visibility:visible;
}
.acept_box {
	clear:both;
	padding-top:20px;
	font-size:18px;
	margin-bottom:40px;
	padding-left:13%;
}
.h2_c {
	font-size:18px;
	padding-top:0px;
}

.donacion_valor {
	text-align:center;
	padding-top:20px;
	height:50px;
	padding-left:10px;
	font-size:18px;
	line-height:normal;
}
.donacion_valor span, .donacion_valor span2  {
	font-size:30px;
}
.donacion_valor a {
	font-size:12px;
}
.div_span {
	display: block;
}
.h3_b {
	font-size:16px;
}
.txt_voluntario {
	margin-top:10px;
	font-size:12px;
}
.link_b {
	font-size:14px;
}
.pad_box_10 {
	padding:10px;
}
.active_box_green {
	height:210px;
	width:10px;
	right:-10px;
}
.box_shadow3 {
	margin-left:11px;
}
.header {
	height:100px;
}
.footer {
	padding:10px 5px;
	width:100%;
}
.mr_10 {
	margin-left:40px;
}
.text_area_small {
	width:260px;
}
.mr_10_movil_500 {
	margin-left:40px;
	margin-top:5px;
}



}
/* @media only screen and (min-width: 481px) and (max-width: 640px) { Styles ************************************ 
.box_a .info_txt {
	clear:both;
}
.buttons {
	height:80px !important;
}
.dis_none_movil {
	display:none ;
}
.device_320 {
	width:560px;
}
.device_300 {
	width:520px;
}
.search_box {
	float:none;
}
.visible_500 {
	display:block !important;
}
.buttons .search_box {
	margin:10px auto;
}
.device_250 {
	width:250px;
}
.device_230 {
	width:230px ;
}
.back_top, .header {
	width:320px t;
	background-size:100% 100%;
}
.col_line_right {
	background:none;
}
#logo {
	width:200px;
	height:66px;
	background-size:100% 100%;
}
.social_header_links {
	display:none;
}
.buttons {
	height:50px;
	padding:0px;
}
.button_a {
	font-size:12px;
	height:50px;
	line-height:50px;
	background:none;
	padding:0px 46px;
}
.col_footer {
	width:120px !important;
}
.ft_1 {
	margin-left:134px !important;
}
.h2_b {
	font-size:18px !important;
}
.button_a:hover {
	background:none;
	color:#fff;
}
.div_buttons {
	margin-top:0px;
}
.search_box {
	margin:20px 0px 0px 40px;
}
.pad_int_20 {
	padding:10px;
}
.login_button {
	width:122px;
	margin-left:110px;
	line-height:40px;
	height:40px;
}
.h2_b {
	font-size:20px;
}
.box_shadow_big {
	-webkit-box-shadow:none;
	box-shadow:none;
	background:none;
}
.col_e {
	font-size:12px;
	background:none;
}
.pad_top_mobile {
	padding-top:20px;
}
.col_footer {
	width:140px;
	margin:10px 5px;
}
.col_footer a {
	margin-bottom:5px;
}
.col_footer, .col_footer a {
	font-size:12px;
}
.col_footer h3 {
	margin-bottom:5px;
}
.h2_b {
	font-size:20px;
	margin-bottom:5px;
}
.h2_des {
	font-size:16px;
	margin-bottom:5px;
}
.pad_bottom_0_mobile {
	padding-bottom:0px;
}
.pad_5_mobile {
	padding:10px 5px;
}
.days_left 	{
	text-align: left;
	margin-top:5px;
	float:none;
	clear:both;
}
.h3_black  {
	font-size:18px;
}
.h3_purpure {
	font-size:14px;
}
.min_h_900 {
	min-height:100px;
	margin-bottom:20px;
	margin-top:-10px;
}
.icon_apoya {
	width:40px;
	height:40px;
	background-size:40px 80px;
}
.h2_azul {
	font-size:18px;
}
.cantidad {
	float:left;
	font-size:15px;
	clear:both;
	margin-left:30px;
	margin-top:10px;
}
.money {
	font-size:30px;
}
.pad_top_10_mobile {
	padding-top:0px;
}
.margin_bottom_20_mobile {
	margin-bottom:20px;
}
.visible_mobile {
	visibility:visible;
}
.acept_box {
	clear:both;
	padding-top:20px;
	font-size:18px;
	margin-bottom:40px;
	padding-left:13%;
}
.h2_c {
	font-size:18px;
	padding-top:0px;
}

.donacion_valor {
	text-align:center;
	padding-top:20px;
	height:50px;
	padding-left:10px;
	font-size:18px;
	line-height:normal;
}
.donacion_valor span, .donacion_valor span2  {
	font-size:30px;
}
.donacion_valor a {
	font-size:12px;
}
.div_span {
	display: block;
}
.h3_b {
	font-size:16px;
}
.txt_voluntario {
	margin-top:10px;
	font-size:12px;
}
.link_b {
	font-size:14px;
}
.pad_box_10 {
	padding:10px;
}
.active_box_green {
	height:210px;
	width:10px;
	right:-10px;
}
.box_shadow3 {
	margin-left:11px;
}
.header {
	height:100px;
}
.footer {
	padding:10px 5px;
}
.search_box {
	margin:20px 0px 20px 40px;
}
.login_button {
	margin-left:40px;
	margin-top:10px;
	margin-bottom:10px;
}
.col_footer {
	width:auto;
	max-width:135px;
}
.ft_1 {
	margin-left:114px;
}
.pad_5_mobile {
	padding:10px;
}
.info_data {
	margin-right:0px;
}
.icon_apoya {
	margin-right:15px;
}
.text_area_small {
	width:455px;
}
.mr_10 {
	margin:0px 10px 0px 10px;
}
.acept_box {
	padding-left:25%;
}
.info_data .input_b {
	width:221px;
	background-size:100% 100%;
}
.mr_10_movil_500 {
	margin-left:10px;
	margin-bottom:5px;
}
} */
